html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Verdana;
    font-size: 10px;
    margin: 0px;
}

.joblist_content {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-color: rgba(237, 81, 81, 0.50);*/
}

.joblist_content_top35 {
    top: 35px;
}

.joblist_content_top60 {
    top: 60px;
}

.joblist_content_top80 {
    top: 80px;
}

.joblist_content_top100 {
    top: 100px;
}


.joblist_content_left150 {
    left: 150px;
}

/*=============  search part  =================*/
.joblist_search_top0{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    padding-top:6px;
    padding-left:6px;
    overflow:auto;
}
.joblist_search_top0 >div{
    display:inline-block;
}
.joblist_search_height35{
    height:35px;
    max-height:35px;
}

.joblist_search_left0{
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    padding:6px;
    overflow:auto;
}
.joblist_search_width150{
    width:150px;
}


/*=============  search part end  =================*/

.joblist_content .joblist_content_list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #9f9f9f;
    /*background-color: rgba(190, 220, 117, 0.50);*/
    /*padding: 6px;*/
    overflow: auto;
}

    .joblist_content .joblist_content_list .bx_table {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
    }

.joblist_content.has_footer .joblist_content_list {
    bottom: 27px;
}

.joblist_content.has_footer > .footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}


/**************************************************  content_detail **************************/
.joblist_content > .joblist_content_detail {
    overflow: hidden;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}

.joblist_content.hide_content_detail > .joblist_content_detail {
    display: none;
}



.joblist_content > .joblist_content_detail > .header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 400;
    background-color: #dcdcdc;
    border: 1px solid #9f9f9f;
}

    .joblist_content > .joblist_content_detail > .header .header_button {
        float: right;
        margin-right: 6px;
        text-decoration: none;
        color: #606060;
        border: 1px solid #9f9f9f;
        background: #e6e6e6;
        border-radius: 2px;
        min-width: 48px;
        font-size: 8px;
        min-height:20px;
    }
        .joblist_content > .joblist_content_detail > .header .header_button:hover {
            border: 1px solid #606060;
            background: #f2f2f2;
            cursor: pointer;
            /*color: #ff0000;*/
        }

.joblist_content > .joblist_content_detail > .body {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 6px;
}

.joblist_content.has_footer.has_rightDetail320 .joblist_content_list {
    right: 320px;
}

.joblist_content.has_footer.has_rightDetail320 > .footer {
    right: 320px;
}

.joblist_content.has_footer.has_rightDetail320 > .joblist_content_detail {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    width: 310px;
}

    .joblist_content.has_footer.has_rightDetail320 > .joblist_content_detail > .header {
        left: 1px;
    }

.joblist_content.has_footer.has_bottomDetail320 .joblist_content_list {
    bottom: 347px;
}

.joblist_content.has_footer.has_bottomDetail320 > .footer {
    bottom: 320px;
}

.joblist_content.has_footer.has_bottomDetail320 > .joblist_content_detail {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    height: 315px;
}



.joblist_content.has_rightDetail320 .joblist_content_list {
    right: 320px;
}

.joblist_content.has_rightDetail320 > .footer {
    right: 320px;
}

.joblist_content.has_rightDetail320 > .joblist_content_detail {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    width: 310px;
}

    .joblist_content.has_rightDetail320 > .joblist_content_detail > .header {
        left: 1px;
    }

.joblist_content.has_bottomDetail320 .joblist_content_list {
    bottom: 347px;
}

.joblist_content.has_bottomDetail320 > .footer {
    bottom: 320px;
}

.joblist_content.has_bottomDetail320 > .joblist_content_detail {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    height: 315px;
}



/*=============================  float window  =========================*/

.float_window {
    z-index: 10;
    display: none;
}

    .float_window > .content {
        background-color: white;
        border: 3px solid #9f9f9f;
        box-shadow: 0 0 10px #808080;
        margin: 6px;
        border-radius: 4px;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
    }

        .float_window > .content > .body {
            position: absolute;
            top: 25px;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: auto;
            padding: 6px;
        }

            .float_window > .content > .body > div {
                margin-right: 6px;
            }

        .float_window > .content > .header {
            position: absolute;
            top: -1px;
            right: -1px;
            left: -1px;
            padding-left: 10px;
            padding-top: 3px;
            padding-bottom: 2px;
            font-size: 14px;
            font-weight: 400;
            background-color: #dcdcdc;
            border: 1px solid #9f9f9f;
            border-radius: 3px;
        }

    .float_window .header .header_button {
        float: right;
        margin-right: 6px;
        text-decoration: none;
        color: #606060;
        border: 1px solid #9f9f9f;
        background: #e6e6e6;
        border-radius: 2px;
        min-width: 48px;
        font-size: 8px;
    }

        .float_window .header .header_button:hover {
            border: 1px solid #606060;
            background: #f2f2f2;
            cursor: pointer;
            /*color: #ff0000;*/
        }

    .float_window .header .green {
        float: right;
        color: white;
        background: #45bd06;
    }

        .float_window .header .green:hover {
            background: #67db2a;
            color: white;
        }


/*=====================  float right   ===============================*/
.float_window_right {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 90%;
}

.float_window_right_init {
    left: 90%;
    display: none;
}

.float_window_right_show {
    left: 65%;
    display: block;
    animation: float_window_right_show_ft 0.3s;
    -webkit-animation: float_window_right_show_ft 0.3s;
}

@keyframes float_window_right_show_ft {
    from {
        left: 90%;
    }

    to {
        left: 65%;
    }
}

@-webkit-keyframes float_window_right_show_ft {
    from {
        left: 90%;
    }

    to {
        left: 65%;
    }
}

.float_window_right_hide {
    left: 90%;
    display: block;
    animation: float_window_right_hide_ft 0.3s;
    -webkit-animation: float_window_right_hide_ft 0.3s;
}

@keyframes float_window_right_hide_ft {
    from {
        left: 65%;
    }

    to {
        left: 90%;
    }
}

@-webkit-keyframes float_window_right_hide_ft {
    from {
        left: 65%;
    }

    to {
        left: 90%;
    }
}


.float_window_rightl_show {
    left: 40%;
    display: block;
    animation: float_window_rightl_show_ft 0.3s;
    -webkit-animation: float_window_rightl_show_ft 0.3s;
}

@keyframes float_window_rightl_show_ft {
    from {
        left: 90%;
    }

    to {
        left: 40%;
    }
}

@-webkit-keyframes float_window_rightl_show_ft {
    from {
        left: 90%;
    }

    to {
        left: 40%;
    }
}

.float_window_rightl_hide {
    left: 90%;
    display: block;
    animation: float_window_rightl_hide_ft 0.3s;
    -webkit-animation: float_window_rightl_hide_ft 0.3s;
}

@keyframes float_window_rightl_hide_ft {
    from {
        left: 40%;
    }

    to {
        left: 90%;
    }
}

@-webkit-keyframes float_window_rightl_hide_ft {
    from {
        left: 40%;
    }

    to {
        left: 90%;
    }
}


/*==================  float popup center  =======================*/
.float_window_popup {
    position: absolute;
    top: 10%;
    right: 20%;
    bottom: 90%;
    left: 20%;
}

.float_window_popup_init {
    bottom: 90%;
    display: none;
}

.float_window_popup_show {
    bottom: 10%;
    display: block;
    animation: float_window_popup_show_ft 0.3s;
    -webkit-animation: float_window_popup_show_ft 0.3s;
}

@keyframes float_window_popup_show_ft {
    from {
        bottom: 90%;
    }

    to {
        bottom: 10%;
    }
}

@-webkit-keyframes float_window_popup_show_ft {
    from {
        bottom: 90%;
    }

    to {
        bottom: 10%;
    }
}

.float_window_popup_hide {
    bottom: 90%;
    display: block;
    animation: float_window_popup_hide_ft 0.3s;
    -webkit-animation: float_window_popup_hide_ft 0.3s;
}

@keyframes float_window_popup_hide_ft {
    from {
        bottom: 10%;
    }

    to {
        bottom: 90%;
    }
}

@-webkit-keyframes float_window_popup_hide_ft {
    from {
        bottom: 10%;
    }

    to {
        bottom: 90%;
    }
}

/*=============================  center large  =========================*/
.float_window_centerl {
    position: absolute;
    top: 5%;
    right: 10%;
    bottom: 95%;
    left: 10%;
}

.float_window_centrel_init {
    bottom: 95%;
    display: none;
}

.float_window_centrel_show {
    bottom: 5%;
    display: block;
    animation: float_window_centrel_show_ft 0.3s;
    -webkit-animation: float_window_centrel_show_ft 0.3s;
}

@keyframes float_window_centrel_show_ft {
    from {
        bottom: 95%;
    }

    to {
        bottom: 5%;
    }
}

@-webkit-keyframes float_window_centrel_show_ft {
    from {
        bottom: 95%;
    }

    to {
        bottom: 5%;
    }
}

.float_window_centrel_hide {
    bottom: 95%;
    display: block;
    animation: float_window_centrel_hide_ft 0.3s;
    -webkit-animation: float_window_centrel_hide_ft 0.3s;
}

@keyframes float_window_centrel_hide_ft {
    from {
        bottom: 5%;
    }

    to {
        bottom: 95%;
    }
}

@-webkit-keyframes float_window_centrel_hide_ft {
    from {
        bottom: 5%;
    }

    to {
        bottom: 95%;
    }
}

/*=============================  float window end   =========================*/


/*==============================  tabs  =========================================*/
.tabs {
}

    .tabs > .tab {
        padding-left: 2px;
        font-size: 12px;
        font-weight: 400;
        height:28px;
        line-height:28px;
        margin-bottom:-1px;
        z-index:10;
    }
    .tabs >.tab >div{
        display:inline-block;
        padding-left:6px;
        padding-right:6px;
        border: 1px solid #9f9f9f;
        height:26px;
        /*background-color:#dcdcdc;*/
        margin-left:-5px;
        
        -webkit-box-shadow: 0 -3px 2px #dcdcdc;
        -moz-box-shadow: 0 -3px 2px #dcdcdc;
        box-shadow: 0 -3px 2px #dcdcdc;
    }
    .tabs >.tab >div:first-child{
        border-top-left-radius: 3px;
        margin-left:0px;
        -webkit-box-shadow: -2px -2px 4px #dcdcdc;
        -moz-box-shadow: -2px -2px 4px #dcdcdc;
        box-shadow: -2px -2px 4px #dcdcdc;
    }
    .tabs >.tab >div:last-child{
        border-top-right-radius: 3px;
        -webkit-box-shadow: 2px -2px 4px #dcdcdc;
        -moz-box-shadow: 2px -2px 4px #dcdcdc;
        box-shadow: 2px -2px 4px #dcdcdc;
    }
    .tabs >.tab >div:hover{
        cursor:pointer;
    }
    .tabs >.tab >.tab_select{
        border-bottom:0px;
        height:27px;
        background-color:#ffffff;
        /*font-weight:600;*/
    }


    .tabs > .tabs_content {
        z-index:1;
        border: 1px solid #9f9f9f;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 10px #9f9f9f;
        -moz-box-shadow: 0 0 10px #9f9f9f;
        box-shadow: 0 0 10px #9f9f9f;
        padding:6px;
        background-color:white;
    }

/*==============================  tabs end  =========================================*/
