<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">
  <entity type="C2.TptJob" table="tpt_Job" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="jobType" field="JobType" alias="JobType" />
    <attribute member="closeInd" field="CloseInd" alias="CloseInd" />
    <attribute member="jobProgress" field="JobProgress" alias="JobProgress" />
    <attribute member="jobDate" field="JobDate" alias="JobDate" />
    <attribute member="jobPic" field="JobPic" alias="JobPic" />
    <attribute member="jobLevel" field="JobLevel" alias="JobLevel" />
    <attribute member="jobRmk" field="JobRmk" alias="JobRmk" />
    <attribute member="cust" field="Cust" alias="Cust" />
    <attribute member="custRef" field="CustRef" alias="CustRef" />
    <attribute member="wt" field="Wt" alias="Wt" />
    <attribute member="m3" field="M3" alias="M3" />
    <attribute member="qty" field="Qty" alias="Qty" />
    <attribute member="pkgType" field="PkgType" alias="PkgType" />
    <attribute member="blRef" field="BlRef" alias="BlRef" />
    <attribute member="bkgRef" field="BkgRef" alias="BkgRef" />
    <attribute member="vessel" field="Vessel" alias="Vessel" />
    <attribute member="voyage" field="Voyage" alias="Voyage" />
    <attribute member="pol" field="Pol" alias="Pol" />
    <attribute member="pod" field="Pod" alias="Pod" />
    <attribute member="finDest" field="FinDest" alias="FinDest" />
    <attribute member="eta" field="Eta" alias="Eta" />
    <attribute member="etd" field="Etd" alias="Etd" />
    <attribute member="driver" field="Driver" alias="Driver" />
    <attribute member="term" field="Term" alias="Term" />
    <attribute member="pickFrm1" field="PickFrm1" alias="PickFrm1" />
    <attribute member="pickFrm2" field="PickFrm2" alias="PickFrm2" />
    <attribute member="deliveryTo1" field="DeliveryTo1" alias="DeliveryTo1" />
    <attribute member="deliveryTo2" field="DeliveryTo2" alias="DeliveryTo2" />
    <attribute member="invoiceNo" field="InvoiceNo" alias="InvoiceNo" />
    <attribute member="cnNo" field="CnNo" alias="CnNo" />
    <attribute member="voucherNo" field="VoucherNo" alias="VoucherNo" />
    <attribute member="masterRef" field="MasterRef" alias="MasterRef" />
    <attribute member="houseRef" field="HouseRef" alias="HouseRef" />
    <attribute member="jobCode" field="JobCode" alias="JobCode" />
    <attribute member="jobCodeRmk" field="JobCodeRmk" alias="JobCodeRmk" />
    <attribute member="cargoMkg" field="CargoMkg" alias="CargoMkg" />
    <attribute member="cargoDesc" field="CargoDesc" alias="CargoDesc" />
    <attribute member="sortIndex" field="SortIndex" alias="SortIndex" />
    <attribute member="userId" field="UserId" alias="UserId" />
    <attribute member="entryDate" field="EntryDate" alias="EntryDate" />
    <attribute member="vehicleType" field="VehicleType" alias="VehicleType" />
    <attribute member="soKey" field="SoKey" alias="SoKey" />
    <attribute member="vehicleNo" field="VehicleNo" alias="VehicleNo" />
    <attribute member="arriveDate" field="ArriveDate" alias="ArriveDate" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />


    <attribute member="tptType" field="TptType" alias="TptType" />
    <attribute member="tptDate" field="TptDate" alias="TptDate" />
    <attribute member="tptTime" field="TptTime" alias="TptTime" />
    <attribute member="custPic" field="CustPic" alias="CustPic" />
    <attribute member="custContact" field="CustContact" alias="CustContact" />
    <attribute member="custEmail" field="CustEmail" alias="CustEmail" />
    <attribute member="custDocNo" field="CustDocNo" alias="CustDocNo" />
    <attribute member="custDocType" field="CustDocType" alias="CustDocType" />
    <attribute member="bkgDate" field="BkgDate" alias="BkgDate" />
    <attribute member="bkgTime" field="BkgTime" alias="BkgTime" />
    <attribute member="bkgWt" field="BkgWt" alias="BkgWt" />
    <attribute member="bkgM3" field="BkgM3" alias="BkgM3" />
    <attribute member="bkgQty" field="BkgQty" alias="BkgQty" />
    <attribute member="bkgPkgType" field="BkgPkgType" alias="BkgPkgType" />
    <attribute member="feeTpt" field="FeeTpt" alias="FeeTpt" />
    <attribute member="feeLabour" field="FeeLabour" alias="FeeLabour" />
    <attribute member="feeOt" field="FeeOt" alias="FeeOt" />
    <attribute member="feeAdmin" field="FeeAdmin" alias="FeeAdmin" />
    <attribute member="feeReimberse" field="FeeReimberse" alias="FeeReimberse" />
    <attribute member="feeMisc" field="FeeMisc" alias="FeeMisc" />
    <attribute member="feeTotal" field="FeeTotal" alias="FeeTotal" />
    <attribute member="feeRemark" field="FeeRemark" alias="FeeRemark" />
    <attribute member="tripCode" field="TripCode" alias="TripCode" />
  </entity>
  <entity type="C2.TptCosting" table="Tpt_Costing" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="jobType" field="JobType" alias="JobType" />
    <attribute member="vendorId" field="VendorId" alias="VendorId" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="chgCodeDes" field="ChgCodeDes" alias="ChgCodeDes" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="saleQty" field="SaleQty" alias="SaleQty" />
    <attribute member="costQty" field="CostQty" alias="CostQty" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="saleCurrency" field="SaleCurrency" alias="SaleCurrency" />
    <attribute member="saleExRate" field="SaleExRate" alias="SaleExRate" />
    <attribute member="costCurrency" field="CostCurrency" alias="CostCurrency" />
    <attribute member="costExRate" field="CostExRate" alias="CostExRate" />
    <attribute member="salePrice" field="SalePrice" alias="SalePrice" />
    <attribute member="saleDocAmt" field="SaleDocAmt" alias="SaleDocAmt" />
    <attribute member="saleLocAmt" field="SaleLocAmt" alias="SaleLocAmt" />
    <attribute member="costPrice" field="CostPrice" alias="CostPrice" />
    <attribute member="costDocAmt" field="CostDocAmt" alias="CostDocAmt" />
    <attribute member="costLocAmt" field="CostLocAmt" alias="CostLocAmt" />
    <attribute member="splitType" field="SplitType" alias="SplitType" />
  </entity>


  <entity type="C2.TptAttachment" table="Tpt_Attachment" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="jobType" field="JobType" alias="JobType" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="fileType" field="FileType" alias="FileType" />
    <attribute member="fileName" field="FileName" alias="FileName" />
    <attribute member="filePath" field="FilePath" alias="FilePath" />
    <attribute member="fileNote" field="FileNote" alias="FileNote" />
    <attribute member="fileDate" field="FileDate" alias="FileDate" />
    <attribute member="fileSize" field="FileSize" alias="FileSize" />
    <attribute member="fileStatus" field="FileStatus" alias="FileStatus" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
  </entity>

</mappings>