<?xml version="1.0" encoding="utf-8"?>

<mappings version="4.2">
  
  <entity type="C2.MobileChatGroup" table="Mobile_ChatGroup" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="groupName" field="group_name" alias="GroupName" />
    <attribute member="createDate" field="create_date" alias="CreateDate" />
    <attribute member="createBy" field="create_by" alias="CreateBy" />
    <attribute member="note1" field="note1" alias="Note1" />
    <attribute member="note2" field="note2" alias="Note2" />
    <attribute member="note3" field="note3" alias="Note3" />
    <attribute member="note4" field="note4" alias="Note4" />
  </entity>

  <entity type="C2.MobileChatGroupDet" table="Mobile_ChatGroup_Det" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="groupName" field="group_name" alias="GroupName" />
    <attribute member="username" field="username" alias="Username" />
    <attribute member="userrole" field="userrole" alias="Userrole" />
    <attribute member="createDate" field="create_date" alias="CreateDate" />
    <attribute member="note1" field="note1" alias="Note1" />
    <attribute member="note2" field="note2" alias="Note2" />
    <attribute member="note3" field="note3" alias="Note3" />
    <attribute member="note4" field="note4" alias="Note4" />
  </entity>

  <entity type="C2.MobileControl" table="Mobile_Control" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="type" field="Type" alias="Type" />
    <attribute member="isActive" field="IsActive" alias="IsActive" />
    <attribute member="roleName" field="RoleName" alias="RoleName" />
  </entity>



</mappings>
