<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">
  <file path="Mappings_sys.config">
  </file>
  <file path="Mappings_Account.config">
  </file>
  <file path="Mappings_Quote.config">
  </file>
  <file path="Modules/WareHouse/Setup/Mappings_warehouse.config">
  </file>
  <file path="Mappings_ContTrucking.config">
  </file>
  <file path="Mappings_tpt.config">
  </file>
  <file path="Mappings_sea.config">
  </file>
  <file path="Mappings_z.config">
  </file>
  <file path="Mappings_air.config">
  </file>
  <file path="Modules/Hr/Setup/Mappings_hr.config">
  </file>
  <file path="Mappings_container.config">
  </file>
  <file path="Mappings_mobile.config">
  </file>
</mappings>
