<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">

  <entity type="C2.bill_doc" table="bill_doc" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docDueDate" field="DocDueDate" alias="DocDueDate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="term" field="Term" alias="Term" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="balanceAmt" field="BalanceAmt" alias="BalanceAmt" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="userId" field="UserId" alias="UserId" />
    <attribute member="entryDate" field="EntryDate" alias="EntryDate" />

    <attribute member="pol" field="Pol" alias="Pol" />
    <attribute member="pod" field="Pod" alias="Pod" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="eta" field="Eta" alias="Eta" />
    <attribute member="vessel" field="Vessel" alias="Vessel" />
    <attribute member="voyage" field="Voyage" alias="Voyage" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="bkgRefNo" field="BkgRefNo" alias="BkgRefNo" />
    <attribute member="custRef" field="CustRef" alias="CustRef" />
    <attribute member="specialNote" field="SpecialNote" alias="SpecialNote" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.bill_line" table="bill_line" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="docId" field="DocId" alias="DocId" />
    <attribute member="docLineNo" field="DocLineNo" alias="DocLineNo" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="chgDes1" field="ChgDes1" alias="ChgDes1" />
    <attribute member="chgDes2" field="ChgDes2" alias="ChgDes2" />
    <attribute member="chgDes3" field="ChgDes3" alias="ChgDes3" />
    <attribute member="gstType" field="GstType" alias="GstType" />
    <attribute member="qty" field="Qty" alias="Qty" />
    <attribute member="price" field="Price" alias="Price" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="gst" field="Gst" alias="Gst" />
    <attribute member="gstAmt" field="GstAmt" alias="GstAmt" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="lineLocAmt" field="LineLocAmt" alias="LineLocAmt" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="splitType" field="SplitType" alias="SplitType" />
    <attribute member="otherAmt" field="OtherAmt" alias="OtherAmt"/>
  </entity>
  <entity type="C2.rate_doc" table="rate_doc" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docDueDate" field="DocDueDate" alias="DocDueDate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="term" field="Term" alias="Term" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="balanceAmt" field="BalanceAmt" alias="BalanceAmt" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="userId" field="UserId" alias="UserId" />
    <attribute member="entryDate" field="EntryDate" alias="EntryDate" />

    <attribute member="pol" field="Pol" alias="Pol" />
    <attribute member="pod" field="Pod" alias="Pod" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="eta" field="Eta" alias="Eta" />
    <attribute member="vessel" field="Vessel" alias="Vessel" />
    <attribute member="voyage" field="Voyage" alias="Voyage" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="bkgRefNo" field="BkgRefNo" alias="BkgRefNo" />
    <attribute member="custRef" field="CustRef" alias="CustRef" />
    <attribute member="specialNote" field="SpecialNote" alias="SpecialNote" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.rate_line" table="rate_line" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="docId" field="DocId" alias="DocId" />
    <attribute member="docLineNo" field="DocLineNo" alias="DocLineNo" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="chgDes1" field="ChgDes1" alias="ChgDes1" />
    <attribute member="chgDes2" field="ChgDes2" alias="ChgDes2" />
    <attribute member="chgDes3" field="ChgDes3" alias="ChgDes3" />
    <attribute member="gstType" field="GstType" alias="GstType" />
    <attribute member="qty" field="Qty" alias="Qty" />
    <attribute member="price" field="Price" alias="Price" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="gst" field="Gst" alias="Gst" />
    <attribute member="gstAmt" field="GstAmt" alias="GstAmt" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="lineLocAmt" field="LineLocAmt" alias="LineLocAmt" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="splitType" field="SplitType" alias="SplitType" />
    <attribute member="otherAmt" field="OtherAmt" alias="OtherAmt"/>
  </entity>

  <entity type="C2.XXMastData" table="XXMastData" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="codeType" field="CodeType" alias="CodeType" />
  </entity>
  <entity type="C2.pay_doc" table="pay_doc" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docType1" field="DocType1" alias="DocType1" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docCurrency" field="DocCurrency" alias="DocCurrency" />
    <attribute member="docExRate" field="DocExRate" alias="DocExRate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="otherPartyName" field="OtherPartyName" alias="OtherPartyName" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="chqNo" field="ChqNo" alias="ChqNo" />
    <attribute member="chqDate" field="ChqDate" alias="ChqDate" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="bankName" field="BankName" alias="BankName" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="bankRec" field="BankRec" alias="BankRec" />
    <attribute member="bankDate" field="BankDate" alias="BankDate" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="generateInd" field="GenerateInd" alias="GenerateInd" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="postBy" field="PostBy" alias="PostBy" />
    <attribute member="postDateTime" field="PostDateTime" alias="PostDateTime" />
    <attribute member="slipNo" field="SlipNo" alias="SlipNo" />
    <attribute member="isReturn" field="IsReturn" alias="IsReturn" />
  </entity>
  <entity type="C2.pay_line" table="pay_line" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="repId" field="RepId" alias="RepId" />
    <attribute member="repLineNo" field="RepLineNo" alias="RepLineNo" />
    <attribute member="repNo" field="RepNo" alias="RepNo" />
    <attribute member="repType" field="RepType" alias="RepType" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docId" field="DocId" alias="DocId" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="remark2" field="Remark2" alias="Remark2" />
    <attribute member="remark3" field="Remark3" alias="Remark3" />
  </entity>
  <entity type="C2.jnl_doc" table="jnl_doc" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docType1" field="DocType1" alias="DocType1" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docCurrency" field="DocCurrency" alias="DocCurrency" />
    <attribute member="docExRate" field="DocExRate" alias="DocExRate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="otherPartyName" field="OtherPartyName" alias="OtherPartyName" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="chqNo" field="ChqNo" alias="ChqNo" />
    <attribute member="chqDate" field="ChqDate" alias="ChqDate" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="bankName" field="BankName" alias="BankName" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="bankRec" field="BankRec" alias="BankRec" />
    <attribute member="bankDate" field="BankDate" alias="BankDate" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="generateInd" field="GenerateInd" alias="GenerateInd" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="postBy" field="PostBy" alias="PostBy" />
    <attribute member="postDateTime" field="PostDateTime" alias="PostDateTime" />
    <attribute member="slipNo" field="SlipNo" alias="SlipNo" />
    <attribute member="isReturn" field="IsReturn" alias="IsReturn" />
  </entity>
  <entity type="C2.jnl_line" table="jnl_line" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="repId" field="RepId" alias="RepId" />
    <attribute member="repLineNo" field="RepLineNo" alias="RepLineNo" />
    <attribute member="repNo" field="RepNo" alias="RepNo" />
    <attribute member="repType" field="RepType" alias="RepType" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docId" field="DocId" alias="DocId" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="remark2" field="Remark2" alias="Remark2" />
    <attribute member="remark3" field="Remark3" alias="Remark3" />
  </entity>
  <entity type="C2.pay_bank" table="pay_bank" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="pay_Id" field="Pay_Id" alias="Pay_Id" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docType1" field="DocType1" alias="DocType1" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docCurrency" field="DocCurrency" alias="DocCurrency" />
    <attribute member="docExRate" field="DocExRate" alias="DocExRate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="otherPartyName" field="OtherPartyName" alias="OtherPartyName" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="chqNo" field="ChqNo" alias="ChqNo" />
    <attribute member="chqDate" field="ChqDate" alias="ChqDate" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="bankName" field="BankName" alias="BankName" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="bankRec" field="BankRec" alias="BankRec" />
    <attribute member="bankDate" field="BankDate" alias="BankDate" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="generateInd" field="GenerateInd" alias="GenerateInd" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="postBy" field="PostBy" alias="PostBy" />
    <attribute member="postDateTime" field="PostDateTime" alias="PostDateTime" />
    <attribute member="slipNo" field="SlipNo" alias="SlipNo" />
    <attribute member="isReturn" field="IsReturn" alias="IsReturn" />
  </entity>

</mappings>