<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">

  <entity type="C2.XXPartyGroup" table="XXPartyGroup" keyMember="code" keyType="User">
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="description" field="Description" alias="Description" />
  </entity>

  <entity type="C2.XXPartyAcc" table="XXPartyAcc" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="partyId" field="PartyId" alias="PartyId" />
    <attribute member="arCode" field="ArCode" alias="ArCode" />
    <attribute member="apCode" field="ApCode" alias="ApCode" />
  </entity>

  <entity type="C2.XXParty" table="XXParty" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="partyId" field="PartyId" alias="PartyId" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="isCustomer" field="IsCustomer" alias="IsCustomer" />
    <attribute member="isVendor" field="IsVendor" alias="IsVendor" />
    <attribute member="isAgent" field="IsAgent" alias="IsAgent" />
    <attribute member="address" field="Address" alias="Address" />
    <attribute member="address1" field="Address1" alias="Address1" />
    <attribute member="tel1" field="Tel1" alias="Tel1" />
    <attribute member="tel2" field="Tel2" alias="Tel2" />
    <attribute member="fax1" field="Fax1" alias="Fax1" />
    <attribute member="fax2" field="Fax2" alias="Fax2" />
    <attribute member="email1" field="Email1" alias="Email1" />
    <attribute member="email2" field="Email2" alias="Email2" />
    <attribute member="contact1" field="Contact1" alias="Contact1" />
    <attribute member="contact2" field="Contact2" alias="Contact2" />
    <attribute member="countryId" field="CountryId" alias="CountryId" />
    <attribute member="salesmanId" field="SalesmanId" alias="SalesmanId" />
    <attribute member="portId" field="PortId" alias="PortId" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="termId" field="TermId" alias="TermId" />
    <attribute member="groupId" field="GroupId" alias="GroupId" />
    <attribute member="crNo" field="CrNo" alias="CrNo" />

    <attribute member="status" field="Status" alias="Status" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="carrierCode" field="CarrierCode" alias="CarrierCode" />

    <attribute member="warningAmt" field="WarningAmt" alias="WarningAmt" />
    <attribute member="warningQty" field="WarningQty" alias="WarningQty" />
    <attribute member="blockAmt" field="BlockAmt" alias="BlockAmt" />
    <attribute member="blockQty" field="BlockQty" alias="BlockQty" />
    <attribute member="zipCode" field="ZipCode" alias="ZipCode" />
    <attribute member="city" field="City" alias="City" />
    
    <attribute member="clientType" field="ClientType" alias="ClientType" />
    <attribute member="parentCode" field="ParentCode" alias="ParentCode" />
    <attribute member="billingAlert" field="BillingAlert" alias="BillingAlert" />

    <attribute member="loginInd" field="LoginInd" alias="LoginInd" />
    <attribute member="loginCode" field="LoginCode" alias="LoginCode" />
    
  </entity>

  <entity type="C2.XXPartySale" table="XXPartySales" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="partyId" field="PartyId" alias="PartyId" />
    <attribute member="salesman" field="Salesman" alias="Salesman" />
    <attribute member="defaultInd" field="DefaultInd" alias="DefaultInd" />
  </entity>



  <entity type="C2.User" table="User" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="pwd" field="Pwd" alias="Pwd" />
    <attribute member="email" field="Email" alias="Email" />
    <attribute member="tel" field="Tel" alias="Tel" />
    <attribute member="role" field="Role" alias="Role" />
    <attribute member="isActive" field="IsActive" alias="IsActive" />
    <attribute member="custId" field="CustId" alias="CustId" />
    <attribute member="port" field="Port" alias="Port" />
    <attribute member="eventDepot" field="EventDepot" alias="EventDepot" />
  </entity>
  <entity type="C2.Role" table="Role" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="description" field="Description" alias="Description" />
  </entity>
  <entity type="C2.Tasks" table="Tasks" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="taskName" field="TaskName" alias="TaskName" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="taskType" field="TaskType" alias="TaskType" />
    <attribute member="dueDate" field="DueDate" alias="DueDate" />
    <attribute member="assignTo" field="AssignTo" alias="AssignTo" />
    <attribute member="partyId" field="PartyId" alias="PartyId" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <!-- MASTER DATA  -->
  <entity type="C2.XXUom" table="XXUom" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="codeType" field="CodeType" alias="CodeType" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.XXCountry" table="XXCountry" keyMember="code" keyType="User">
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="name" field="Name" alias="Name" />
  </entity>
  <entity type="C2.XXCurrency" table="XXCurrency" keyMember="currencyId" keyType="User">
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="currencyName" field="CurrencyName" alias="CurrencyName" />
    <attribute member="currencyExRate" field="CurrencyExRate" alias="CurrencyExRate" />
  </entity>
  <entity type="C2.XXSalesman" table="XXSalesman" keyMember="code" keyType="User">
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="tel" field="Tel" alias="Tel" />
  </entity>
  <entity type="C2.XXPort" table="XXPort" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="userId" field="UserId" alias="UserId" />
    <attribute member="entryDate" field="EntryDate" alias="EntryDate" />
    <attribute member="airCode" field="AirCode" alias="AirCode" />
    <attribute member="countryCode" field="CountryCode" alias="CountryCode" />
  </entity>
  <entity type="C2.XXGenCode" table="XXGenCode" keyMember="code" keyType="User">
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="description" field="Description" alias="Description" />
  </entity>

  <entity type="C2.XXChgCode" table="XXChgCode" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="chgcodeId" field="ChgcodeId" alias="ChgcodeId" />
    <attribute member="chgcodeDe" field="ChgcodeDes" alias="ChgcodeDe" />
    <attribute member="chgUnit" field="ChgUnit" alias="ChgUnit" />
    <attribute member="gstTypeId" field="GstTypeId" alias="GstTypeId" />
    <attribute member="gstP" field="GstP" alias="GstP" />
    <attribute member="chgTypeId" field="ChgTypeId" alias="ChgTypeId" />
    <attribute member="arCode" field="ArCode" alias="ArCode" />
    <attribute member="apCode" field="ApCode" alias="ApCode" />
    <attribute member="impExpInd" field="ImpExpInd" alias="ImpExpInd" />
    <attribute member="arShortcutCode" field="ArShortcutCode" alias="ArShortcutCode" />
    <attribute member="apShortcutCode" field="ApShortcutCode" alias="ApShortcutCode" />
    <attribute member="quotation_Ind" field="Quotation_Ind" alias="Quotation_Ind" />
    <attribute member="sortIndex" field="SortIndex" alias="SortIndex" />
  </entity>
  <entity type="C2.XXGstType" table="XXGstType" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="src" field="Src" alias="Src" />
    <attribute member="des" field="Des" alias="Des" />
    <attribute member="gstValue" field="GstValue" alias="GstValue" />
  </entity>
  <entity type="C2.XXGstAccount" table="XXGstAccount" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="gstSrc" field="GstSrc" alias="GstSrc" />
    <attribute member="gstType" field="GstType" alias="GstType" />
    <attribute member="gstValue" field="GstValue" alias="GstValue" />
  </entity>
  <entity type="C2.XXBank" table="XXBank" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="bankCode" field="BankCode" alias="BankCode" />
    <attribute member="bankName" field="BankName" alias="BankName" />
  </entity>
  <entity type="C2.XXCustVendor" table="XXCustVendor" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="custId" field="CustId" alias="CustId" />
    <attribute member="vendorId" field="VendorId" alias="VendorId" />
  </entity>
  <entity type="C2.RefPartyLog" table="Ref_PartyLog" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="partyId" field="PartyId" alias="PartyId" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="logDateTime" field="LogDateTime" alias="LogDateTime" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="remark" field="Remark" alias="Remark" />
  </entity>
  <entity type="C2.RefVessel" table="ref_vessel" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.XXCity" table="XXCity" keyMember="code" keyType="User">
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="country" field="Country" alias="Country" />
  </entity>
  <entity type="C2.LogEvent" table="LogEvent" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="refType" field="RefType" alias="RefType" />
    <attribute member="action" field="Action" alias="Action" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="remark" field="Remark" alias="Remark" />
  </entity>
  <entity type="C2.RefLc" table="Ref_LC" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="lcNo" field="LcNo" alias="LcNo" />
    <attribute member="lcTempNo" field="LcTempNo" alias="LcTempNo" />
    <attribute member="lcType" field="LcType" alias="LcType" />
    <attribute member="lcRef" field="LcRef" alias="LcRef" />
    <attribute member="lcAppDate" field="LcAppDate" alias="LcAppDate" />
    <attribute member="lcExpirtDate" field="LcExpirtDate" alias="LcExpirtDate" />
    <attribute member="lcExpirtPlace" field="LcExpirtPlace" alias="LcExpirtPlace" />
    <attribute member="lcEntityCode" field="LcEntityCode" alias="LcEntityCode" />
    <attribute member="lcEntityName" field="LcEntityName" alias="LcEntityName" />
    <attribute member="lcEntityAddress" field="LcEntityAddress" alias="LcEntityAddress" />
    <attribute member="lcBeneCode" field="LcBeneCode" alias="LcBeneCode" />
    <attribute member="lcBeneName" field="LcBeneName" alias="LcBeneName" />
    <attribute member="lcBeneAddress" field="LcBeneAddress" alias="LcBeneAddress" />
    <attribute member="bankCode" field="BankCode" alias="BankCode" />
    <attribute member="bankName" field="BankName" alias="BankName" />
    <attribute member="bankBranch" field="BankBranch" alias="BankBranch" />
    <attribute member="bankAddress" field="BankAddress" alias="BankAddress" />
    <attribute member="bankRef" field="BankRef" alias="BankRef" />
    <attribute member="bankTenor" field="BankTenor" alias="BankTenor" />
    <attribute member="lcAmount" field="LcAmount" alias="LcAmount" />
    <attribute member="lcCurrency" field="LcCurrency" alias="LcCurrency" />
    <attribute member="lcExRate" field="LcExRate" alias="LcExRate" />
    <attribute member="lcMode" field="LcMode" alias="LcMode" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
  </entity>
  <entity type="C2.LcBankFund" table="Lc_BankFunds" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="bankCode" field="BankCode" alias="BankCode" />
    <attribute member="bankName" field="BankName" alias="BankName" />
    <attribute member="companyName" field="CompanyName" alias="CompanyName" />
    <attribute member="loanFund" field="LoanFund" alias="LoanFund" />
    <attribute member="lendingDate" field="LendingDate" alias="LendingDate" />
    <attribute member="expiryDate" field="ExpiryDate" alias="ExpiryDate" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
  </entity>
  <entity type="C2.LcActivity" table="LcActivity" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="lcEvent" field="LcEvent" alias="LcEvent" />
    <attribute member="refType" field="RefType" alias="RefType" />
    <attribute member="actionNote" field="ActionNote" alias="ActionNote" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="infoNote" field="InfoNote" alias="InfoNote" />
    <attribute member="status" field="Status" alias="Status" />
  </entity>

  <entity type="C2.RefContract" table="Ref_Contract" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="indexNo" field="IndexNo" alias="IndexNo" />
    <attribute member="section" field="Section" alias="Section" />
    <attribute member="title" field="Title" alias="Title" />
    <attribute member="centerContent" field="CenterContent" alias="CenterContent" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
  </entity>
  
<!--page control Authority-->
  <entity type="C2.HelperAuthority" table="Helper_Authority" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="frame" field="Frame" alias="Frame" />
    <attribute member="control" field="Control" alias="Control" />
    <attribute member="controlType" field="ControlType" alias="ControlType" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="role" field="Role" alias="Role" />
    <attribute member="isHid" field="IsHid" alias="IsHid" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createDate" field="CreateDate" alias="CreateDate" />
  </entity>

  <entity type="C2.SysAlert" table="sys_alert" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="jobType" field="JobType" alias="JobType" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="sendType" field="SendType" alias="SendType" />
    <attribute member="sendMethod" field="SendMethod" alias="SendMethod" />
    <attribute member="sendFrom" field="SendFrom" alias="SendFrom" />
    <attribute member="sendTo" field="SendTo" alias="SendTo" />
    <attribute member="subject" field="Subject" alias="Subject" />
    <attribute member="message" field="Message" alias="Message" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="createUser" field="CreateUser" alias="CreateUser" />
    <attribute member="createTime" field="CreateTime" alias="CreateTime" />
    <attribute member="alertType" field="AlertType" alias="AlertType" />
  </entity>

  <entity type="C2.SysAlertRule" table="sys_alert_rule" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="alertSql" field="AlertSql" alias="AlertSql" />
    <attribute member="alertTo" field="AlertTo" alias="AlertTo" />
    <attribute member="alertCc" field="AlertCc" alias="AlertCc" />
    <attribute member="alertBcc" field="AlertBcc" alias="AlertBcc" />
    <attribute member="alertMobile" field="AlertMobile" alias="AlertMobile" />
    <attribute member="alertBody" field="AlertBody" alias="AlertBody" />
    <attribute member="alertSubject" field="AlertSubject" alias="AlertSubject" />
    <attribute member="alertSms" field="AlertSms" alias="AlertSms" />
    <attribute member="masterId" field="MasterId" alias="MasterId" />
    <attribute member="alertColumns" field="AlertColumns" alias="AlertColumns" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="subjectPosition" field="SubjectPosition" alias="SubjectPosition" />
    <attribute member="bodyPosition" field="BodyPosition" alias="BodyPosition" />
  </entity>

  <entity type="C2.RefAddress" table="ref_address" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="address" field="Address" alias="Address" />
    <attribute member="typeId" field="TypeId" alias="TypeId" />
    <attribute member="partyId" field="PartyId" alias="PartyId" />
    <attribute member="partyName" field="PartyName" alias="PartyName"/>
    <attribute member="address1" field="Address1" alias="Address1" />
    <attribute member="address2" field="Address2" alias="Address2" />
    <attribute member="address3" field="Address3" alias="Address3" />
    <attribute member="address4" field="Address4" alias="Address4" />
    <attribute member="address5" field="Address5" alias="Address5" />
    <attribute member="address6" field="Address6" alias="Address6" />
    <attribute member="postcode" field="Postcode" alias="Postcode" />
    <attribute member="location" field="Location" alias="Location" />
  </entity>
  <entity type="C2.UserAssign" table="user_assign" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="userid" field="userid" alias="Userid" />
    <attribute member="userAssignId" field="user_assign_id" alias="UserAssignId" />
    <attribute member="timeStart" field="time_start" alias="TimeStart" />
    <attribute member="timeEnd" field="time_end" alias="TimeEnd" />
    <attribute member="accessLevel" field="access_level" alias="AccessLevel" />
    <attribute member="statusCode" field="status_code" alias="StatusCode" />
    <attribute member="remark" field="remark" alias="Remark" />
  </entity>
  <entity type="C2.UserRight" table="user_right" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="userid" field="userid" alias="Userid" />
    <attribute member="moduleCode" field="module_code" alias="ModuleCode" />
    <attribute member="pageCode" field="page_code" alias="PageCode" />
    <attribute member="actionCode" field="action_code" alias="ActionCode" />
    <attribute member="accessLevel" field="access_level" alias="AccessLevel" />
    <attribute member="statusCode" field="status_code" alias="StatusCode" />
    <attribute member="remark" field="remark" alias="Remark" />
  </entity>
  <entity type="C2.RefContact" table="ref_contact" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="address" field="Address" alias="Address" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="partyId" field="PartyId" alias="PartyId" />
    <attribute member="partyName" field="PartyName" alias="PartyName" />
    <attribute member="isDefault" field="IsDefault" alias="IsDefault" />
    <attribute member="tel" field="Tel" alias="Tel" />
    <attribute member="fax" field="Fax" alias="Fax" />
    <attribute member="email" field="Email" alias="Email" />
    <attribute member="mobile" field="Mobile" alias="Mobile" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="department" field="Department" alias="Department" />
  </entity>
  <entity type="C2.RefPermit" table="ref_permit" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="permitNo" field="PermitNo" alias="PermitNo" />
    <attribute member="permitDate" field="PermitDate" alias="PermitDate" />
    <attribute member="permitBy" field="PermitBy" alias="PermitBy" />
    <attribute member="permitRemark" field="PermitRemark" alias="PermitRemark" />
    <attribute member="partyInvNo" field="PartyInvNo" alias="PartyInvNo" />
    <attribute member="gstAmt" field="GstAmt" alias="GstAmt" />
    <attribute member="paymentStatus" field="PaymentStatus" alias="PaymentStatus" />
    <attribute member="incoTerm" field="IncoTerms" alias="IncoTerm" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="contId" field="ContId" alias="ContId" />
    <attribute member="hblNo" field="HblNo" alias="HblNo" />
  </entity>

</mappings>