
/****** Object:  Table [dbo].[Hr_Person]    Script Date: 2015/9/26 14:48:00 ******/
DROP TABLE [dbo].[Hr_Person]
GO
/****** Object:  Table [dbo].[Hr_Person]    Script Date: 2015/9/26 14:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hr_Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[BirthDay] [datetime] NULL,
	[IcNo] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Country] [nvarchar](50) NULL,
	[Race] [nvarchar](100) NULL,
	[Religion] [nvarchar](100) NULL,
	[Married] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Telephone] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Remark] [nvarchar](500) NULL,
	[Remark1] [nvarchar](500) NULL,
	[Remark2] [nvarchar](500) NULL,
	[Remark3] [nvarchar](500) NULL,
	[Remark4] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[HrRole] [nvarchar](100) NULL,
	[RecruitId] [nvarchar](50) NULL,
	[InterviewId] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](20) NULL,
	[CreateDateTime] [datetime] NULL,
	[UpdateBy] [nvarchar](20) NULL,
	[UpdateDateTime] [datetime] NULL,
	[StatusCode] [nvarchar](10) NULL,
	[Remark5] [nvarchar](500) NULL,
	[HrGroup] [nvarchar](50) NULL,
	[PassType] [nvarchar](20) NULL,
	[PassNo] [nvarchar](20) NULL,
	[Dialect] [nvarchar](50) NULL,
	[LanguageWrittenRemark] [nvarchar](500) NULL,
	[LanguageSpokenRemark] [nvarchar](500) NULL,
	[NationalServiceStatus] [nvarchar](20) NULL,
	[NationalServiceRemark] [nvarchar](500) NULL,
	[EmploySource] [nvarchar](20) NULL,
	[EmploySourceRemark] [nvarchar](500) NULL,
	[DrivingType] [nvarchar](20) NULL,
	[DrivingRemark] [nvarchar](500) NULL,
	[HealthStatus] [nvarchar](20) NULL,
	[HealthRemark] [nvarchar](500) NULL,
	[OverTimeStatus] [nvarchar](10) NULL,
	[OverTimeRemark] [nvarchar](500) NULL,
	[RelativeWorkingStatus] [nvarchar](10) NULL,
	[RelativeWorkingRemark] [nvarchar](500) NULL,
	[TerminateStatus] [nvarchar](10) NULL,
	[TerminateRemark] [nvarchar](500) NULL,
	[CheckReferenceStatus] [nvarchar](10) NULL,
	[CheckReferenceRemark] [nvarchar](500) NULL,
	[EmploymentType] [nvarchar](20) NULL,
	[SalaryPaymode] [nvarchar](20) NULL,
	[HoursPerDay] [int] NULL,
	[HoursPerWeek] [int] NULL,
	[HoursPerMonth] [int] NULL,
	[DaysPerWeek] [int] NULL,
	[DaysPerMonth] [int] NULL,
	[ProbationFromDate] [datetime] NULL,
	[ProbationToDate] [datetime] NULL,
	[StartSalary] [decimal](10, 2) NULL,
	[PRInd] [nvarchar](10) NULL,
	[PRYear] [int] NULL,
	[Wage] [decimal](18, 2) NULL,
	[Allowance] [decimal](18, 2) NULL,
	[Overtime] [decimal](18, 2) NULL,
	[Amount1] [decimal](18, 2) NULL,
	[Amount2] [decimal](18, 2) NULL,
	[Amount3] [decimal](18, 2) NULL,
	[Amount4] [decimal](18, 2) NULL,
	[Amount5] [decimal](18, 2) NULL,
	[Date1] [datetime] NULL,
	[Date2] [datetime] NULL,
	[Date3] [datetime] NULL,
	[Date4] [datetime] NULL,
	[Date5] [datetime] NULL,
	[Date6] [datetime] NULL,
	[Date7] [datetime] NULL,
	[Date8] [datetime] NULL,
	[Status1] [nvarchar](20) NULL,
	[Status2] [nvarchar](20) NULL,
	[Status3] [nvarchar](20) NULL,
	[Status4] [nvarchar](20) NULL,
	[Status5] [nvarchar](20) NULL,
	[Status6] [nvarchar](20) NULL,
	[Status7] [nvarchar](20) NULL,
	[Status8] [nvarchar](20) NULL,
 CONSTRAINT [PK_Hr_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
