<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">
  <entity type="C2.HrPerson" table="Hr_Person" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="birthDay" field="BirthDay" alias="BirthDay" />
    <attribute member="icNo" field="IcNo" alias="IcNo" />
    <attribute member="gender" field="Gender" alias="Gender" />
    <attribute member="country" field="Country" alias="Country" />
    <attribute member="race" field="Race" alias="Race" />
    <attribute member="religion" field="Religion" alias="Religion" />
    <attribute member="married" field="Married" alias="Married" />
    <attribute member="email" field="Email" alias="Email" />
    <attribute member="telephone" field="Telephone" alias="Telephone" />
    <attribute member="address" field="Address" alias="Address" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="remark2" field="Remark2" alias="Remark2" />
    <attribute member="remark3" field="Remark3" alias="Remark3" />
    <attribute member="remark4" field="Remark4" alias="Remark4" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="department" field="Department" alias="Department" />
    <attribute member="hrRole" field="HrRole" alias="HrRole" />
    <attribute member="recruitId" field="RecruitId" alias="RecruitId" />
    <attribute member="interviewId" field="InterviewId" alias="InterviewId" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="remark5" field="Remark5" alias="Remark5" />
    <attribute member="hrGroup" field="HrGroup" alias="HrGroup" />
    <attribute member="passType" field="PassType" alias="PassType" />
    <attribute member="passNo" field="PassNo" alias="PassNo" />
    <attribute member="dialect" field="Dialect" alias="Dialect" />
    <attribute member="languageWrittenRemark" field="LanguageWrittenRemark" alias="LanguageWrittenRemark" />
    <attribute member="languageSpokenRemark" field="LanguageSpokenRemark" alias="LanguageSpokenRemark" />
    <attribute member="nationalServiceStatus" field="NationalServiceStatus" alias="NationalServiceStatus" />
    <attribute member="nationalServiceRemark" field="NationalServiceRemark" alias="NationalServiceRemark" />
    <attribute member="employSource" field="EmploySource" alias="EmploySource" />
    <attribute member="employSourceRemark" field="EmploySourceRemark" alias="EmploySourceRemark" />
    <attribute member="drivingType" field="DrivingType" alias="DrivingType" />
    <attribute member="drivingRemark" field="DrivingRemark" alias="DrivingRemark" />
    <attribute member="healthStatus" field="HealthStatus" alias="HealthStatus" />
    <attribute member="healthRemark" field="HealthRemark" alias="HealthRemark" />
    <attribute member="overTimeStatus" field="OverTimeStatus" alias="OverTimeStatus" />
    <attribute member="overTimeRemark" field="OverTimeRemark" alias="OverTimeRemark" />
    <attribute member="relativeWorkingStatus" field="RelativeWorkingStatus" alias="RelativeWorkingStatus" />
    <attribute member="relativeWorkingRemark" field="RelativeWorkingRemark" alias="RelativeWorkingRemark" />
    <attribute member="terminateStatus" field="TerminateStatus" alias="TerminateStatus" />
    <attribute member="terminateRemark" field="TerminateRemark" alias="TerminateRemark" />
    <attribute member="checkReferenceStatus" field="CheckReferenceStatus" alias="CheckReferenceStatus" />
    <attribute member="checkReferenceRemark" field="CheckReferenceRemark" alias="CheckReferenceRemark" />
    <attribute member="employmentType" field="EmploymentType" alias="EmploymentType" />
    <attribute member="salaryPaymode" field="SalaryPaymode" alias="SalaryPaymode" />
    <attribute member="hoursPerDay" field="HoursPerDay" alias="HoursPerDay" />
    <attribute member="hoursPerWeek" field="HoursPerWeek" alias="HoursPerWeek" />
    <attribute member="hoursPerMonth" field="HoursPerMonth" alias="HoursPerMonth" />
    <attribute member="daysPerWeek" field="DaysPerWeek" alias="DaysPerWeek" />
    <attribute member="daysPerMonth" field="DaysPerMonth" alias="DaysPerMonth" />
    <attribute member="probationFromDate" field="ProbationFromDate" alias="ProbationFromDate" />
    <attribute member="probationToDate" field="ProbationToDate" alias="ProbationToDate" />
    <attribute member="startSalary" field="StartSalary" alias="StartSalary" />
    <attribute member="pRInd" field="PRInd" alias="PRInd" />
    <attribute member="pRYear" field="PRYear" alias="PRYear" />
    <attribute member="wage" field="Wage" alias="Wage" />
    <attribute member="allowance" field="Allowance" alias="Allowance" />
    <attribute member="overtime" field="Overtime" alias="Overtime" />
    <attribute member="amount1" field="Amount1" alias="Amount1" />
    <attribute member="amount2" field="Amount2" alias="Amount2" />
    <attribute member="amount3" field="Amount3" alias="Amount3" />
    <attribute member="amount4" field="Amount4" alias="Amount4" />
    <attribute member="amount5" field="Amount5" alias="Amount5" />
    <attribute member="date1" field="Date1" alias="Date1" />
    <attribute member="date2" field="Date2" alias="Date2" />
    <attribute member="date3" field="Date3" alias="Date3" />
    <attribute member="date4" field="Date4" alias="Date4" />
    <attribute member="date5" field="Date5" alias="Date5" />
    <attribute member="date6" field="Date6" alias="Date6" />
    <attribute member="date7" field="Date7" alias="Date7" />
    <attribute member="date8" field="Date8" alias="Date8" />
    <attribute member="status1" field="Status1" alias="Status1" />
    <attribute member="status2" field="Status2" alias="Status2" />
    <attribute member="status3" field="Status3" alias="Status3" />
    <attribute member="status4" field="Status4" alias="Status4" />
    <attribute member="status5" field="Status5" alias="Status5" />
    <attribute member="status6" field="Status6" alias="Status6" />
    <attribute member="status7" field="Status7" alias="Status7" />
    <attribute member="status8" field="Status8" alias="Status8" />
    <attribute member="isCPF" field="ISCPF" alias="ISCPF" />
  </entity>
  <entity type="C2.HrPersonDet1" table="Hr_PersonDet1" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="beginDate" field="BeginDate" alias="BeginDate" />
    <attribute member="resignDate" field="ResignDate" alias="ResignDate" />
    <attribute member="startSalary" field="StartSalary" alias="StartSalary" />
    <attribute member="salary" field="Salary" alias="Salary" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrPersonDet2" table="Hr_PersonDet2" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="contactName" field="ContactName" alias="ContactName" />
    <attribute member="gender" field="Gender" alias="Gender" />
    <attribute member="dob" field="Dob" alias="Dob" />
    <attribute member="phone" field="Phone" alias="Phone" />
    <attribute member="mobile" field="Mobile" alias="Mobile" />
    <attribute member="email" field="Email" alias="Email" />
    <attribute member="relationship" field="Relationship" alias="Relationship" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrPersonDet3" table="Hr_PersonDet3" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="bankCode" field="BankCode" alias="BankCode" />
    <attribute member="bankName" field="BankName" alias="BankName" />
    <attribute member="branchCode" field="BranchCode" alias="BranchCode" />
    <attribute member="swiftCode" field="SwiftCode" alias="SwiftCode" />
    <attribute member="accNo" field="AccNo" alias="AccNo" />
    <attribute member="isPayroll" field="IsPayroll" alias="IsPayroll" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrPersonDet4" table="Hr_PersonDet4" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="schoolName" field="SchoolName" alias="SchoolName" />
    <attribute member="dateFrom" field="DateFrom" alias="DateFrom" />
    <attribute member="dateTo" field="DateTo" alias="DateTo" />
    <attribute member="highestLevel" field="HighestLevel" alias="HighestLevel" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="schoolYear" field="SchoolYear" alias="SchoolYear" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrPersonDet5" table="Hr_PersonDet5" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="employerName" field="EmployerName" alias="EmployerName" />
    <attribute member="positionHold" field="PositionHold" alias="PositionHold" />
    <attribute member="dateFrom" field="DateFrom" alias="DateFrom" />
    <attribute member="dateTo" field="DateTo" alias="DateTo" />
    <attribute member="salary" field="Salary" alias="Salary" />
    <attribute member="allowance" field="Allowance" alias="Allowance" />
    <attribute member="leaveStatus" field="LeaveStatus" alias="LeaveStatus" />
    <attribute member="reasonForLeaving" field="ReasonForLeaving" alias="ReasonForLeaving" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrPersonDet6" table="Hr_PersonDet6" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="relationship" field="Relationship" alias="Relationship" />
    <attribute member="age" field="Age" alias="Age" />
    <attribute member="occupation" field="Occupation" alias="Occupation" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrContract" table="Hr_Contract" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="no" field="No" alias="No" />
    <attribute member="date" field="Date" alias="Date" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="remark2" field="Remark2" alias="Remark2" />
    <attribute member="remark3" field="Remark3" alias="Remark3" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
  </entity>
  <entity type="C2.HrRecruitment" table="Hr_Recruitment" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="no" field="No" alias="No" />
    <attribute member="date" field="Date" alias="Date" />
    <attribute member="department" field="Department" alias="Department" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="remark2" field="Remark2" alias="Remark2" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrInterview" table="Hr_Interview" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="date" field="Date" alias="Date" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="department" field="Department" alias="Department" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrPersonTran" table="Hr_PersonTrans" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="type" field="Type" alias="Type" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="date1" field="Date1" alias="Date1" />
    <attribute member="time1" field="Time1" alias="Time1" />
    <attribute member="date2" field="Date2" alias="Date2" />
    <attribute member="time2" field="Time2" alias="Time2" />
    <attribute member="hrs" field="Hrs" alias="Hrs" />
    <attribute member="amt" field="Amt" alias="Amt" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
  </entity>
  <entity type="C2.HrPersonComment" table="Hr_PersonComment" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="date" field="Date" alias="Date" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="manager" field="Manager" alias="Manager" />
    <attribute member="rating" field="Rating" alias="Rating" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="remark2" field="Remark2" alias="Remark2" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrPersonLog" table="Hr_PersonLog" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="logDate" field="LogDate" alias="LogDate" />
    <attribute member="logTime" field="LogTime" alias="LogTime" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrQuote" table="Hr_Quote" keyMember="id" keyType="Auto">
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="payItem" field="PayItem" alias="PayItem" />
    <attribute member="amt" field="Amt" alias="Amt" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="isCal" field="IsCal" alias="IsCal" />
  </entity>
  <entity type="C2.HrMastData" table="Hr_MastData" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="type" field="Type" alias="Type" />
    <attribute member="workDays" field="WorkDays" alias="WorkDays" />
  </entity>
  <entity type="C2.HrPayItem" table="Hr_PayItem" keyMember="code" keyType="User">
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="isCpf" field="IsCpf" alias="IsCpf" />
  </entity>
  <entity type="C2.HrPayroll" table="Hr_Payroll" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="date" field="Date" alias="Date" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="fromDate" field="FromDate" alias="FromDate" />
    <attribute member="toDate" field="ToDate" alias="ToDate" />
    <attribute member="amt" field="Amt" alias="Amt" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="term" field="Term" alias="Term" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="cpf0" field="Cpf0" alias="Cpf0" />
    <attribute member="cpf1" field="Cpf1" alias="Cpf1" />
    <attribute member="cpf2" field="Cpf2" alias="Cpf2" />
    <attribute member="cpf1Amt" field="Cpf1Amt" alias="Cpf1Amt" />
    <attribute member="cpf2Amt" field="Cpf2Amt" alias="Cpf2Amt" />
    <attribute member="total1" field="Total1" alias="Total1" />
    <attribute member="total2" field="Total2" alias="Total2" />
    <attribute member="autoInd" field="AutoInd" alias="AutoInd" />
  </entity>
  <entity type="C2.HrPayrollDet" table="Hr_PayrollDet" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="payrollId" field="PayrollId" alias="PayrollId" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="amt" field="Amt" alias="Amt" />
    <attribute member="before" field="Before" alias="Before" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <!--2014-1-17 11:46:41-->
  <entity type="C2.HrLeaveTmp" table="Hr_LeaveTmp" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="year" field="Year" alias="Year" />
    <attribute member="leaveType" field="LeaveType" alias="LeaveType" />
    <attribute member="days" field="Days" alias="Days" />
    <attribute member="balDays" field="BalDays" alias="BalDays" />
    <attribute member="remark" field="Remark" alias="Remark" />
  </entity>
  <entity type="C2.HrLeave" table="Hr_Leave" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="date1" field="Date1" alias="Date1" />
    <attribute member="time1" field="Time1" alias="Time1" />
    <attribute member="date2" field="Date2" alias="Date2" />
    <attribute member="time2" field="Time2" alias="Time2" />
    <attribute member="days" field="Days" alias="Days" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="applyDateTime" field="ApplyDateTime" alias="ApplyDateTime" />
    <attribute member="approveBy" field="ApproveBy" alias="ApproveBy" />
    <attribute member="approveStatus" field="ApproveStatus" alias="ApproveStatus" />
    <attribute member="approveDate" field="ApproveDate" alias="ApproveDate" />
    <attribute member="approveTime" field="ApproveTime" alias="ApproveTime" />
    <attribute member="approveRemark" field="ApproveRemark" alias="ApproveRemark" />
    <attribute member="leaveType" field="LeaveType" alias="LeaveType" />
  </entity>
  <entity type="C2.HrTask" table="Hr_Task" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="date" field="Date" alias="Date" />
    <attribute member="time" field="Time" alias="Time" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrFile" table="Hr_File" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="fileName" field="FileName" alias="FileName" />
    <attribute member="type" field="Type" alias="Type" />
    <attribute member="size" field="Size" alias="Size" />
    <attribute member="path" field="Path" alias="Path" />
    <attribute member="byWho" field="ByWho" alias="ByWho" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="categoryCode" field="CategoryCode" alias="CategoryCode" />
    <attribute member="folderCode" field="FolderCode" alias="FolderCode" />
  </entity>
  <entity type="C2.HrAttachment" table="Hr_Attachment" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="fileType" field="FileType" alias="FileType" />
    <attribute member="fileName" field="FileName" alias="FileName" />
    <attribute member="filePath" field="FilePath" alias="FilePath" />
    <attribute member="fileNote" field="FileNote" alias="FileNote" />
    <attribute member="fileDate" field="FileDate" alias="FileDate" />
    <attribute member="fileSize" field="FileSize" alias="FileSize" />
    <attribute member="fileStatus" field="FileStatus" alias="FileStatus" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="category" field="Category" alias="Category" />
  </entity>
  <entity type="C2.RefProcess" table="Ref_Process" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="processModule" field="ProcessModule" alias="ProcessModule" />
    <attribute member="processType" field="ProcessType" alias="ProcessType" />
    <attribute member="processRef" field="ProcessRef" alias="ProcessRef" />
    <attribute member="processStatus" field="ProcessStatus" alias="ProcessStatus" />
    <attribute member="processBy" field="ProcessBy" alias="ProcessBy" />
    <attribute member="processDateTime" field="ProcessDateTime" alias="ProcessDateTime" />
    <attribute member="processRemark" field="ProcessRemark" alias="ProcessRemark" />
    <attribute member="approveStatus" field="ApproveStatus" alias="ApproveStatus" />
    <attribute member="approveBy" field="ApproveBy" alias="ApproveBy" />
    <attribute member="approveDateTime" field="ApproveDateTime" alias="ApproveDateTime" />
    <attribute member="approveRemark" field="ApproveRemark" alias="ApproveRemark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
  </entity>
  <entity type="C2.HrPersonNews" table="Hr_PersonNews" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="title" field="Title" alias="Title" />
    <attribute member="note" field="Note" alias="Note" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="expireDateTime" field="ExpireDateTime" alias="ExpireDateTime" />
  </entity>
  <entity type="C2.HrCpf" table="Hr_cpf" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="fromDate" field="FromDate" alias="FromDate" />
    <attribute member="toDate" field="ToDate" alias="ToDate" />
    <attribute member="cpf1" field="CPF1" alias="Cpf1" />
    <attribute member="cpf2" field="CPF2" alias="Cpf2" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrRate" table="Hr_Rate" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="payItem" field="PayItem" alias="PayItem" />
    <attribute member="rate" field="Rate" alias="Rate" />
    <attribute member="age" field="Age" alias="Age" />
    <attribute member="age1" field="Age1" alias="Age1" />
    <attribute member="rateType" field="RateType" alias="RateType" />
    <attribute member="employeeRate" field="EmployeeRate" alias="EmployeeRate" />
    <attribute member="employerRate" field="EmployerRate" alias="EmployerRate" />
    <attribute member="employeeRate55" field="EmployeeRate55" alias="EmployeeRate55" />
    <attribute member="employerRate55" field="EmployerRate55" alias="EmployerRate55" />
    <attribute member="employeeRate60" field="EmployeeRate60" alias="EmployeeRate60" />
    <attribute member="employerRate60" field="EmployerRate60" alias="EmployerRate60" />
    <attribute member="employeeRate65" field="EmployeeRate65" alias="EmployeeRate65" />
    <attribute member="employerRate65" field="EmployerRate65" alias="EmployerRate65" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="fromDate" field="FromDate" alias="FromDate" />
    <attribute member="toDate" field="ToDate" alias="ToDate" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>
  <entity type="C2.HrOvertime" table="Hr_Overtime" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="hour" field="Hours" alias="Hour" />
    <attribute member="hoursRate" field="HoursRate" alias="HoursRate" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="time" field="Times" alias="Time" />
    <attribute member="totalAmt" field="TotalAmt" alias="TotalAmt" />
    <attribute member="typeId" field="TypeId" alias="TypeId" />
    <attribute member="fromDate" field="FromDate" alias="FromDate" />
    <attribute member="toDate" field="ToDate" alias="ToDate" />
  </entity>
  <!--2016-06-03 11:46:41-->
  <entity type="C2.Holiday" table="holidays" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="day" field="Days" alias="Day" />
    <attribute member="fromMonth" field="FromMonth" alias="FromMonth" />
    <attribute member="fromDay" field="FromDay" alias="FromDay" />
    <attribute member="toMonth" field="ToMonth" alias="ToMonth" />
    <attribute member="toDay" field="ToDay" alias="ToDay" />
    <attribute member="person" field="Person" alias="Person" />
    <attribute member="department" field="Department" alias="Department" />
    <attribute member="remark" field="Remark" alias="Remark" />
  </entity>
  <entity type="C2.PassCertificate" table="Pass_Certificate" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="employee" field="Employee" alias="Employee" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="expiryDate" field="ExpiryDate" alias="ExpiryDate" />
    <attribute member="typeCode" field="TypeCode" alias="TypeCode" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
  </entity>

</mappings>