        .tabs { margin:0; padding:0; list-style:none; overflow:hidden; }
        .tabs li { float:left; border-top:solid 2px white;font-weight:normal;display:block; height:18px;padding:5px;  margin-right:5px;border-top:solid 0px green;}
        .tabs li a { color:#404040;  text-decoration:none; }
        .tabs li.current { border-top:solid 2px gray;font-weight:bold;}
        .tabs li.current a { color:#000; text-decoration:none; }
        .tabs li a.remove { color:#f00; margin-left:10px;}
        .pages p { margin: 0; padding-top:6px;}
