<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">
  <!--Account -->
  <entity type="C2.XXAccPeriod" table="XXAccPeriod" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="year" field="Year" alias="Year" />
    <attribute member="period" field="Period" alias="Period" />
    <attribute member="startDate" field="StartDate" alias="StartDate" />
    <attribute member="endDate" field="EndDate" alias="EndDate" />
    <attribute member="closeInd" field="CloseInd" alias="CloseInd" />
  </entity>
  <entity type="C2.XXAccStatus" table="XXAccStatus" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="year" field="Year" alias="Year" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="currBal" field="CurrBal" alias="CurrBal" />
    <attribute member="openBal" field="OpenBal" alias="OpenBal" />
    <attribute member="closeBal" field="CloseBal" alias="CloseBal" />
    <attribute member="acDorc" field="AcDorc" alias="AcDorc" />
    <attribute member="acDesc" field="AcDesc" alias="AcDesc" />
  </entity>
  <entity type="C2.XXChartAcc" table="XXChartAcc" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="acDesc" field="AcDesc" alias="AcDesc" />
    <attribute member="acType" field="AcType" alias="AcType" />
    <attribute member="acDorc" field="AcDorc" alias="AcDorc" />
    <attribute member="acBank" field="AcBank" alias="AcBank" />
    <attribute member="acCurrency" field="AcCurrency" alias="AcCurrency" />
    <attribute member="acSubType" field="AcSubType" alias="AcSubType" />
    <attribute member="gNo" field="GNo" alias="GNo" />
  </entity>
  <entity type="C2.XXChartGroup" table="XXChartGroup" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="name" field="Name" alias="Name" />
  </entity>
  <entity type="C2.XXTerm" table="XXTerm" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="code" field="Code" alias="Code" />
    <attribute member="name" field="Name" alias="Name" />
    <attribute member="creditDay" field="CreditDay" alias="CreditDay" />
  </entity>
  <entity type="C2.XAArInvoice" table="XAArInvoice" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docDueDate" field="DocDueDate" alias="DocDueDate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="term" field="Term" alias="Term" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="balanceAmt" field="BalanceAmt" alias="BalanceAmt" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="reviseInd" field="ReviseInd" alias="ReviseInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="userId" field="UserId" alias="UserId" />
    <attribute member="entryDate" field="EntryDate" alias="EntryDate" />

    <attribute member="pol" field="Pol" alias="Pol" />
    <attribute member="pod" field="Pod" alias="Pod" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="eta" field="Eta" alias="Eta" />
    <attribute member="vessel" field="Vessel" alias="Vessel" />
    <attribute member="voyage" field="Voyage" alias="Voyage" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="bkgRefNo" field="BkgRefNo" alias="BkgRefNo" />
    <attribute member="custRef" field="CustRef" alias="CustRef" />
    <attribute member="specialNote" field="SpecialNote" alias="SpecialNote" />
    <attribute member="invType" field="InvType" alias="InvType" />

    <attribute member="taxableAmt" field="TaxableAmt" alias="TaxableAmt" />
    <attribute member="taxAmt" field="TaxAmt" alias="TaxAmt" />
    <attribute member="taxableAmt1" field="TaxableAmt1" alias="TaxableAmt1" />
    <attribute member="taxAmt1" field="TaxAmt1" alias="TaxAmt1" />
    <attribute member="taxableAmt2" field="TaxableAmt2" alias="TaxableAmt2" />
    <attribute member="taxAmt2" field="TaxAmt2" alias="TaxAmt2" />
    <attribute member="nonTaxableAmt" field="NonTaxableAmt" alias="NonTaxableAmt" />
    <attribute member="nonTaxableAmt1" field="NonTaxableAmt1" alias="NonTaxableAmt1" />
    <attribute member="nonTaxableAmt2" field="NonTaxableAmt2" alias="NonTaxableAmt2" />
    <attribute member="contact" field="Contact" alias="Contact" />
  </entity>
  <entity type="C2.XAArInvoiceDet" table="XAArInvoiceDet" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="docId" field="DocId" alias="DocId" />
    <attribute member="docLineNo" field="DocLineNo" alias="DocLineNo" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="chgDes1" field="ChgDes1" alias="ChgDes1" />
    <attribute member="chgDes2" field="ChgDes2" alias="ChgDes2" />
    <attribute member="chgDes3" field="ChgDes3" alias="ChgDes3" />
    <attribute member="chgDes4" field="ChgDes4" alias="ChgDes4" />
    <attribute member="gstType" field="GstType" alias="GstType" />
    <attribute member="qty" field="Qty" alias="Qty" />
    <attribute member="price" field="Price" alias="Price" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="gst" field="Gst" alias="Gst" />
    <attribute member="gstAmt" field="GstAmt" alias="GstAmt" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="lineLocAmt" field="LineLocAmt" alias="LineLocAmt" />
    <attribute member="splitType" field="SplitType" alias="SplitType" />
    <attribute member="otherAmt" field="OtherAmt" alias="OtherAmt"/>
    <attribute member="lineIndex" field="LineIndex" alias="LineIndex"/>
    <attribute member="groupBy" field="GroupBy" alias="GroupBy" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="dim1" field="Dim1" alias="Dim1" />
    <attribute member="dim2" field="Dim2" alias="Dim2" />
    <attribute member="dim3" field="Dim3" alias="Dim3" />
    <attribute member="dim4" field="Dim4" alias="Dim4" />
  </entity>
  <entity type="C2.XAArReceipt" table="XAArReceipt" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docType1" field="DocType1" alias="DocType1" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docCurrency" field="DocCurrency" alias="DocCurrency" />
    <attribute member="docExRate" field="DocExRate" alias="DocExRate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="otherPartyName" field="OtherPartyName" alias="OtherPartyName" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="chqNo" field="ChqNo" alias="ChqNo" />
    <attribute member="chqDate" field="ChqDate" alias="ChqDate" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="bankName" field="BankName" alias="BankName" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="bankRec" field="BankRec" alias="BankRec" />
    <attribute member="bankDate" field="BankDate" alias="BankDate" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="generateInd" field="GenerateInd" alias="GenerateInd" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="postBy" field="PostBy" alias="PostBy" />
    <attribute member="postDateTime" field="PostDateTime" alias="PostDateTime" />
    <attribute member="slipNo" field="SlipNo" alias="SlipNo" />
    <attribute member="isReturn" field="IsReturn" alias="IsReturn" />
    <attribute member="soNo" field="SoNo" alias="SoNo" />
  </entity>
  <entity type="C2.XAArReceiptDet" table="XAArReceiptDet" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="repId" field="RepId" alias="RepId" />
    <attribute member="repLineNo" field="RepLineNo" alias="RepLineNo" />
    <attribute member="repNo" field="RepNo" alias="RepNo" />
    <attribute member="repType" field="RepType" alias="RepType" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docId" field="DocId" alias="DocId" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="remark2" field="Remark2" alias="Remark2" />
    <attribute member="remark3" field="Remark3" alias="Remark3" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="dim1" field="Dim1" alias="Dim1" />
    <attribute member="dim2" field="Dim2" alias="Dim2" />
    <attribute member="dim3" field="Dim3" alias="Dim3" />
    <attribute member="dim4" field="Dim4" alias="Dim4" />
	
  </entity>



  <entity type="C2.XAApPayable" table="XAApPayable" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="otherPartyName" field="OtherPartyName" alias="OtherPartyName" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="term" field="Term" alias="Term" />
    <attribute member="description" field="Description" alias="Description" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="balanceAmt" field="BalanceAmt" alias="BalanceAmt" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="userId" field="UserId" alias="UserId" />
    <attribute member="entryDate" field="EntryDate" alias="EntryDate" />

    <attribute member="supplierBillNo" field="SupplierBillNo" alias="SupplierBillNo" />
    <attribute member="supplierBillDate" field="SupplierBillDate" alias="SupplierBillDate" />
    <attribute member="chqNo" field="ChqNo" alias="ChqNo" />
    <attribute member="chqDate" field="ChqDate" alias="ChqDate" />
    <attribute member="Eta" field="Eta" alias="Eta" />
  </entity>

  <entity type="C2.XAApPayableDet" table="XAApPayableDet" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="docId" field="DocId" alias="DocId" />
    <attribute member="docLineNo" field="DocLineNo" alias="DocLineNo" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="chgDes1" field="ChgDes1" alias="ChgDes1" />
    <attribute member="chgDes2" field="ChgDes2" alias="ChgDes2" />
    <attribute member="chgDes3" field="ChgDes3" alias="ChgDes3" />
    <attribute member="chgDes4" field="ChgDes4" alias="ChgDes4" />
    <attribute member="gstType" field="GstType" alias="GstType" />
    <attribute member="qty" field="Qty" alias="Qty" />
    <attribute member="price" field="Price" alias="Price" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="gst" field="Gst" alias="Gst" />
    <attribute member="gstAmt" field="GstAmt" alias="GstAmt" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="lineLocAmt" field="LineLocAmt" alias="LineLocAmt" />
    <attribute member="splitType" field="SplitType" alias="SplitType" />
    <attribute member="polineId" field="POlineId" alias="POlineId" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="dim1" field="Dim1" alias="Dim1" />
    <attribute member="dim2" field="Dim2" alias="Dim2" />
    <attribute member="dim3" field="Dim3" alias="Dim3" />
    <attribute member="dim4" field="Dim4" alias="Dim4" />
	
  </entity>
  <entity type="C2.XAApPayment" table="XAApPayment" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docType1" field="DocType1" alias="DocType1" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="otherPartyName" field="OtherPartyName" alias="OtherPartyName" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="chqNo" field="ChqNo" alias="ChqNo" />
    <attribute member="chqDate" field="ChqDate" alias="ChqDate" />
    <attribute member="closeInd" field="CloseInd" alias="CloseInd" />
    <attribute member="exportInd" field="ExportInd" alias="ExportInd" />
    <attribute member="bankRec" field="BankRec" alias="BankRec" />
    <attribute member="bankDate" field="BankDate" alias="BankDate" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="pic" field="Pic" alias="Pic" />
    <attribute member="generateInd" field="GenerateInd" alias="GenerateInd" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="postBy" field="PostBy" alias="PostBy" />
    <attribute member="postDateTime" field="PostDateTime" alias="PostDateTime" />
    <attribute member="poNo" field="PoNo" alias="PoNo" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
  </entity>
  <entity type="C2.XAApPaymentDet" table="XAApPaymentDet" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="payId" field="PayId" alias="PayId" />
    <attribute member="payLineNo" field="PayLineNo" alias="PayLineNo" />
    <attribute member="payNo" field="PayNo" alias="PayNo" />
    <attribute member="payType" field="PayType" alias="PayType" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docId" field="DocId" alias="DocId" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docAmt" field="DocAmt" alias="DocAmt" />
    <attribute member="locAmt" field="LocAmt" alias="LocAmt" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="remark1" field="Remark1" alias="Remark1" />
    <attribute member="remark2" field="Remark2" alias="Remark2" />
    <attribute member="remark3" field="Remark3" alias="Remark3" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="dim1" field="Dim1" alias="Dim1" />
    <attribute member="dim2" field="Dim2" alias="Dim2" />
    <attribute member="dim3" field="Dim3" alias="Dim3" />
    <attribute member="dim4" field="Dim4" alias="Dim4" />
  </entity>




  <entity type="C2.XAGlEntry" table="XAGlEntry" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="arApInd" field="ArApInd" alias="ArApInd" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="crAmt" field="CrAmt" alias="CrAmt" />
    <attribute member="dbAmt" field="DbAmt" alias="DbAmt" />
    <attribute member="currencyCrAmt" field="CurrencyCrAmt" alias="CurrencyCrAmt" />
    <attribute member="currencyDbAmt" field="CurrencyDbAmt" alias="CurrencyDbAmt" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="postInd" field="PostInd" alias="PostInd" />
    <attribute member="postDate" field="PostDate" alias="PostDate" />
    <attribute member="userId" field="UserId" alias="UserId" />
    <attribute member="entryDate" field="EntryDate" alias="EntryDate" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="otherPartyName" field="OtherPartyName" alias="OtherPartyName" />
    <attribute member="chqNo" field="ChqNo" alias="ChqNo" />
    <attribute member="chqDate" field="ChqDate" alias="ChqDate" />
    <attribute member="supplierBillNo" field="SupplierBillNo" alias="SupplierBillNo" />
    <attribute member="supplierBillDate" field="SupplierBillDate" alias="SupplierBillDate" />
  </entity>
  <entity type="C2.XAGlEntryDet" table="XAGlEntryDet" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="arApInd" field="ArApInd" alias="ArApInd" />
    <attribute member="glNo" field="GlNo" alias="GlNo" />
    <attribute member="glLineNo" field="GlLineNo" alias="GlLineNo" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="crAmt" field="CrAmt" alias="CrAmt" />
    <attribute member="dbAmt" field="DbAmt" alias="DbAmt" />
    <attribute member="currencyCrAmt" field="CurrencyCrAmt" alias="CurrencyCrAmt" />
    <attribute member="currencyDbAmt" field="CurrencyDbAmt" alias="CurrencyDbAmt" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="dim1" field="Dim1" alias="Dim1" />
    <attribute member="dim2" field="Dim2" alias="Dim2" />
    <attribute member="dim3" field="Dim3" alias="Dim3" />
    <attribute member="dim4" field="Dim4" alias="Dim4" />
	
  </entity>
  <entity type="C2.XAJournalEntry" table="XAJournalEntry" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="arApInd" field="ArApInd" alias="ArApInd" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="docDate" field="DocDate" alias="DocDate" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="crAmt" field="CrAmt" alias="CrAmt" />
    <attribute member="dbAmt" field="DbAmt" alias="DbAmt" />
    <attribute member="currencyCrAmt" field="CurrencyCrAmt" alias="CurrencyCrAmt" />
    <attribute member="currencyDbAmt" field="CurrencyDbAmt" alias="CurrencyDbAmt" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="postInd" field="PostInd" alias="PostInd" />
    <attribute member="postDate" field="PostDate" alias="PostDate" />
    <attribute member="userId" field="UserId" alias="UserId" />
    <attribute member="entryDate" field="EntryDate" alias="EntryDate" />
    <attribute member="cancelInd" field="CancelInd" alias="CancelInd" />
    <attribute member="cancelDate" field="CancelDate" alias="CancelDate" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="otherPartyName" field="OtherPartyName" alias="OtherPartyName" />
    <attribute member="chqNo" field="ChqNo" alias="ChqNo" />
    <attribute member="chqDate" field="ChqDate" alias="ChqDate" />
    <attribute member="supplierBillNo" field="SupplierBillNo" alias="SupplierBillNo" />
    <attribute member="supplierBillDate" field="SupplierBillDate" alias="SupplierBillDate" />
  </entity>
  <entity type="C2.XAJournalEntryDet" table="XAJournalEntryDet" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="arApInd" field="ArApInd" alias="ArApInd" />
    <attribute member="glNo" field="GlNo" alias="GlNo" />
    <attribute member="glLineNo" field="GlLineNo" alias="GlLineNo" />
    <attribute member="acYear" field="AcYear" alias="AcYear" />
    <attribute member="acPeriod" field="AcPeriod" alias="AcPeriod" />
    <attribute member="acCode" field="AcCode" alias="AcCode" />
    <attribute member="acSource" field="AcSource" alias="AcSource" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="crAmt" field="CrAmt" alias="CrAmt" />
    <attribute member="dbAmt" field="DbAmt" alias="DbAmt" />
    <attribute member="currencyCrAmt" field="CurrencyCrAmt" alias="CurrencyCrAmt" />
    <attribute member="currencyDbAmt" field="CurrencyDbAmt" alias="CurrencyDbAmt" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="mastRefNo" field="MastRefNo" alias="MastRefNo" />
    <attribute member="jobRefNo" field="JobRefNo" alias="JobRefNo" />
    <attribute member="mastType" field="MastType" alias="MastType" />
    <attribute member="dim1" field="Dim1" alias="Dim1" />
    <attribute member="dim2" field="Dim2" alias="Dim2" />
    <attribute member="dim3" field="Dim3" alias="Dim3" />
    <attribute member="dim4" field="Dim4" alias="Dim4" />
  </entity>

</mappings>
