<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">

  <entity type="C2.AirAttachment" table="air_attachment" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="jobType" field="JobType" alias="JobType" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="fileType" field="FileType" alias="FileType" />
    <attribute member="fileName" field="FileName" alias="FileName" />
    <attribute member="filePath" field="FilePath" alias="FilePath" />
    <attribute member="fileNote" field="FileNote" alias="FileNote" />
    <attribute member="fileDate" field="FileDate" alias="FileDate" />
    <attribute member="fileSize" field="FileSize" alias="FileSize" />
    <attribute member="fileStatus" field="FileStatus" alias="FileStatus" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
  </entity>
  <entity type="C2.AirCosting" table="air_costing" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="jobType" field="JobType" alias="JobType" />
    <attribute member="vendorId" field="VendorId" alias="VendorId" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="chgCodeDes" field="ChgCodeDes" alias="ChgCodeDes" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="saleQty" field="SaleQty" alias="SaleQty" />
    <attribute member="salePrice" field="SalePrice" alias="SalePrice" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="saleCurrency" field="SaleCurrency" alias="SaleCurrency" />
    <attribute member="saleExRate" field="SaleExRate" alias="SaleExRate" />
    <attribute member="saleDocAmt" field="SaleDocAmt" alias="SaleDocAmt" />
    <attribute member="saleLocAmt" field="SaleLocAmt" alias="SaleLocAmt" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="costPrice" field="CostPrice" alias="CostPrice" />
    <attribute member="costDocAmt" field="CostDocAmt" alias="CostDocAmt" />
    <attribute member="costLocAmt" field="CostLocAmt" alias="CostLocAmt" />
    <attribute member="splitType" field="SplitType" alias="SplitType" />
    <attribute member="costCurrency" field="CostCurrency" alias="CostCurrency" />
    <attribute member="costExRate" field="CostExRate" alias="CostExRate" />
    <attribute member="costQty" field="CostQty" alias="CostQty" />
    <attribute member="saleGst" field="SaleGst" alias="SaleGst" />
    <attribute member="costGst" field="CostGst" alias="CostGst" />
    <attribute member="payInd" field="PayInd" alias="PayInd" />
    <attribute member="verifryInd" field="VerifryInd" alias="VerifryInd" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="salesman" field="Salesman" alias="Salesman" />
  </entity>


  <entity type="C2.AirImportRef" table="air_ref" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="refType" field="RefType" alias="RefType" />
    <attribute member="mawb" field="MAWB" alias="Mawb" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="agentId" field="AgentId" alias="AgentId" />
    <attribute member="nvoccAgentId" field="NvoccAgentId" alias="NvoccAgentId" />
    <attribute member="carrierAgentId" field="CarrierAgentId" alias="CarrierAgentId" />
    <attribute member="carrierBkgNo" field="CarrierBkgNo" alias="CarrierBkgNo" />
    <attribute member="nvoccBlNO" field="NvoccBlNO" alias="NvoccBlNO" />
    <attribute member="wareHouseId" field="WareHouseId" alias="WareHouseId" />
    <attribute member="airportCode0" field="AirportCode0" alias="AirportCode0" />
    <attribute member="airportName0" field="AirportName0" alias="AirportName0" />
    <attribute member="airportCode1" field="AirportCode1" alias="AirportCode1" />
    <attribute member="airportName1" field="AirportName1" alias="AirportName1" />
    <attribute member="flightDate0" field="FlightDate0" alias="FlightDate0" />
    <attribute member="flightTime0" field="FlightTime0" alias="FlightTime0" />
    <attribute member="flightDate1" field="FlightDate1" alias="FlightDate1" />
    <attribute member="flightTime1" field="FlightTime1" alias="FlightTime1" />
    <attribute member="airlineCode1" field="AirlineCode1" alias="AirlineCode1" />
    <attribute member="airlineName1" field="AirlineName1" alias="AirlineName1" />
    <attribute member="flightNo1" field="FlightNo1" alias="FlightNo1" />
    <attribute member="airFlightDate1" field="AirFlightDate1" alias="AirFlightDate1" />
    <attribute member="airFlightTime1" field="AirFlightTime1" alias="AirFlightTime1" />
    <attribute member="airLinePortCode1" field="AirLinePortCode1" alias="AirLinePortCode1" />
    <attribute member="airLinePortName1" field="AirLinePortName1" alias="AirLinePortName1" />
    <attribute member="airlineCode2" field="AirlineCode2" alias="AirlineCode2" />
    <attribute member="airlineName2" field="AirlineName2" alias="AirlineName2" />
    <attribute member="flightNo2" field="FlightNo2" alias="FlightNo2" />
    <attribute member="flightDate2" field="FlightDate2" alias="FlightDate2" />
    <attribute member="flightTime2" field="FlightTime2" alias="FlightTime2" />
    <attribute member="airportCode2" field="AirportCode2" alias="AirportCode2" />
    <attribute member="airportName2" field="AirportName2" alias="AirportName2" />
    <attribute member="airlineCode3" field="AirlineCode3" alias="AirlineCode3" />
    <attribute member="airlineName3" field="AirlineName3" alias="AirlineName3" />
    <attribute member="flightNo3" field="FlightNo3" alias="FlightNo3" />
    <attribute member="flightDate3" field="FlightDate3" alias="FlightDate3" />
    <attribute member="flightTime3" field="FlightTime3" alias="FlightTime3" />
    <attribute member="airportCode3" field="AirportCode3" alias="AirportCode3" />
    <attribute member="airportName3" field="AirportName3" alias="AirportName3" />
    <attribute member="airlineCode4" field="AirlineCode4" alias="AirlineCode4" />
    <attribute member="airlineName4" field="AirlineName4" alias="AirlineName4" />
    <attribute member="flightNo4" field="FlightNo4" alias="FlightNo4" />
    <attribute member="flightDate4" field="FlightDate4" alias="FlightDate4" />
    <attribute member="flightTime4" field="FlightTime4" alias="FlightTime4" />
    <attribute member="airportCode4" field="AirportCode4" alias="AirportCode4" />
    <attribute member="airportName4" field="AirportName4" alias="AirportName4" />
    <attribute member="issuedBy" field="IssuedBy" alias="IssuedBy" />
    <attribute member="shipperID" field="ShipperID" alias="ShipperID" />
    <attribute member="shipperName" field="ShipperName" alias="ShipperName" />
    <attribute member="consigneeID" field="ConsigneeID" alias="ConsigneeID" />
    <attribute member="consigneeName" field="ConsigneeName" alias="ConsigneeName" />
    <attribute member="carrierAgent" field="CarrierAgent" alias="CarrierAgent" />
    <attribute member="accountInfo" field="AccountInfo" alias="AccountInfo" />
    <attribute member="agentIATACode" field="AgentIATACode" alias="AgentIATACode" />
    <attribute member="agentAccountNo" field="AgentAccountNo" alias="AgentAccountNo" />
    <attribute member="airportDeparture" field="AirportDeparture" alias="AirportDeparture" />
    <attribute member="connDest1" field="ConnDest1" alias="ConnDest1" />
    <attribute member="connCarrier1" field="ConnCarrier1" alias="ConnCarrier1" />
    <attribute member="connDest2" field="ConnDest2" alias="ConnDest2" />
    <attribute member="connCarrier2" field="ConnCarrier2" alias="ConnCarrier2" />
    <attribute member="connDest3" field="ConnDest3" alias="ConnDest3" />
    <attribute member="connCarrier3" field="ConnCarrier3" alias="ConnCarrier3" />
    <attribute member="airportDestination" field="AirportDestination" alias="AirportDestination" />
    <attribute member="requestedFlight" field="RequestedFlight" alias="RequestedFlight" />
    <attribute member="requestedDate" field="RequestedDate" alias="RequestedDate" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="chgsCode" field="ChgsCode" alias="ChgsCode" />
    <attribute member="ppd1" field="PPD1" alias="Ppd1" />
    <attribute member="coll1" field="COLL1" alias="Coll1" />
    <attribute member="ppd2" field="PPD2" alias="Ppd2" />
    <attribute member="coll2" field="COLL2" alias="Coll2" />
    <attribute member="carriageValue" field="CarriageValue" alias="CarriageValue" />
    <attribute member="customValue" field="CustomValue" alias="CustomValue" />
    <attribute member="amountInsurance" field="AmountInsurance" alias="AmountInsurance" />
    <attribute member="handlingInfo" field="HandlingInfo" alias="HandlingInfo" />
    <attribute member="piece" field="Piece" alias="Piece" />
    <attribute member="grossWeight" field="GrossWeight" alias="GrossWeight" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="rateClass" field="RateClass" alias="RateClass" />
    <attribute member="commodityItemNo" field="CommodityItemNo" alias="CommodityItemNo" />
    <attribute member="chargeableWeight" field="ChargeableWeight" alias="ChargeableWeight" />
    <attribute member="rateCharge" field="RateCharge" alias="RateCharge" />
    <attribute member="total" field="Total" alias="Total" />
    <attribute member="goodsNature" field="GoodsNature" alias="GoodsNature" />
    <attribute member="contentRemark" field="ContentRemark" alias="ContentRemark" />
    <attribute member="weightChargeP" field="WeightChargeP" alias="WeightChargeP" />
    <attribute member="valuationChargeP" field="ValuationChargeP" alias="ValuationChargeP" />
    <attribute member="weightChargeC" field="WeightChargeC" alias="WeightChargeC" />
    <attribute member="valuationChargeC" field="ValuationChargeC" alias="ValuationChargeC" />
    <attribute member="taxP" field="TaxP" alias="TaxP" />
    <attribute member="taxC" field="TaxC" alias="TaxC" />
    <attribute member="otherAgentChargeP" field="OtherAgentChargeP" alias="OtherAgentChargeP" />
    <attribute member="otherAgentChargeC" field="OtherAgentChargeC" alias="OtherAgentChargeC" />
    <attribute member="otherCarrierChargeP" field="OtherCarrierChargeP" alias="OtherCarrierChargeP" />
    <attribute member="otherCarrierChargeC" field="OtherCarrierChargeC" alias="OtherCarrierChargeC" />
    <attribute member="totalPrepaid" field="TotalPrepaid" alias="TotalPrepaid" />
    <attribute member="totalCollect" field="TotalCollect" alias="TotalCollect" />
    <attribute member="currencyRate" field="CurrencyRate" alias="CurrencyRate" />
    <attribute member="chargeDestCurrency" field="ChargeDestCurrency" alias="ChargeDestCurrency" />
    <attribute member="otherCharge1" field="OtherCharge1" alias="OtherCharge1" />
    <attribute member="otherCharge2" field="OtherCharge2" alias="OtherCharge2" />
    <attribute member="otherCharge3" field="OtherCharge3" alias="OtherCharge3" />
    <attribute member="signatureShipper" field="SignatureShipper" alias="SignatureShipper" />
    <attribute member="executeDate" field="ExecuteDate" alias="ExecuteDate" />
    <attribute member="executePlace" field="ExecutePlace" alias="ExecutePlace" />
    <attribute member="signatureIssuing" field="SignatureIssuing" alias="SignatureIssuing" />
    <attribute member="otherCharge4" field="OtherCharge4" alias="OtherCharge4" />
    <attribute member="otherCharge5" field="OtherCharge5" alias="OtherCharge5" />
    <attribute member="otherCharge1Currency" field="OtherCharge1Currency" alias="OtherCharge1Currency" />
    <attribute member="otherCharge2Currency" field="OtherCharge2Currency" alias="OtherCharge2Currency" />
    <attribute member="otherCharge3Currency" field="OtherCharge3Currency" alias="OtherCharge3Currency" />
    <attribute member="otherCharge4Currency" field="OtherCharge4Currency" alias="OtherCharge4Currency" />
    <attribute member="otherCharge5Currency" field="OtherCharge5Currency" alias="OtherCharge5Currency" />
    <attribute member="otherCharge1Amount" field="OtherCharge1Amount" alias="OtherCharge1Amount" />
    <attribute member="otherCharge2Amount" field="OtherCharge2Amount" alias="OtherCharge2Amount" />
    <attribute member="otherCharge3Amount" field="OtherCharge3Amount" alias="OtherCharge3Amount" />
    <attribute member="otherCharge4Amount" field="OtherCharge4Amount" alias="OtherCharge4Amount" />
    <attribute member="otherCharge5Amount" field="OtherCharge5Amount" alias="OtherCharge5Amount" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="refDate" field="RefDate" alias="RefDate" />
    <attribute member="localCust" field="LocalCust" alias="LocalCust" />
    <attribute member="remarks" field="Remarks" alias="Remarks" />
    <attribute member="weight" field="Weight" alias="Weight" />
    <attribute member="volume" field="volume" alias="Volume" />
    <attribute member="qty" field="Qty" alias="Qty" />
    <attribute member="packageType" field="PackageType" alias="PackageType" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
  </entity>
  <entity type="C2.AirImport" table="air_job" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="refType" field="RefType" alias="RefType" />
    <attribute member="hawb" field="HAWB" alias="Hawb" />
    <attribute member="refNo" field="RefNo" alias="RefNo" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="customerId" field="CustomerId" alias="CustomerId" />
    <attribute member="airlineCode1" field="AirlineCode1" alias="AirlineCode1" />
    <attribute member="airlineName1" field="AirlineName1" alias="AirlineName1" />
    <attribute member="flightNo1" field="FlightNo1" alias="FlightNo1" />
    <attribute member="flightDate1" field="FlightDate1" alias="FlightDate1" />
    <attribute member="flightTime1" field="FlightTime1" alias="FlightTime1" />
    <attribute member="airportCode1" field="AirportCode1" alias="AirportCode1" />
    <attribute member="airportName1" field="AirportName1" alias="AirportName1" />
    <attribute member="airFlightDate1" field="AirFlightDate1" alias="AirFlightDate1" />
    <attribute member="airFlightTime1" field="AirFlightTime1" alias="AirFlightTime1" />
    <attribute member="airLinePortCode1" field="AirLinePortCode1" alias="AirLinePortCode1" />
    <attribute member="airLinePortName1" field="AirLinePortName1" alias="AirLinePortName1" />
    <attribute member="airlineCode2" field="AirlineCode2" alias="AirlineCode2" />
    <attribute member="airlineName2" field="AirlineName2" alias="AirlineName2" />
    <attribute member="flightNo2" field="FlightNo2" alias="FlightNo2" />
    <attribute member="flightDate2" field="FlightDate2" alias="FlightDate2" />
    <attribute member="flightTime2" field="FlightTime2" alias="FlightTime2" />
    <attribute member="airportCode2" field="AirportCode2" alias="AirportCode2" />
    <attribute member="airportName2" field="AirportName2" alias="AirportName2" />
    <attribute member="airlineCode3" field="AirlineCode3" alias="AirlineCode3" />
    <attribute member="airlineName3" field="AirlineName3" alias="AirlineName3" />
    <attribute member="flightNo3" field="FlightNo3" alias="FlightNo3" />
    <attribute member="flightDate3" field="FlightDate3" alias="FlightDate3" />
    <attribute member="flightTime3" field="FlightTime3" alias="FlightTime3" />
    <attribute member="airportCode3" field="AirportCode3" alias="AirportCode3" />
    <attribute member="airportName3" field="AirportName3" alias="AirportName3" />
    <attribute member="airlineCode4" field="AirlineCode4" alias="AirlineCode4" />
    <attribute member="airlineName4" field="AirlineName4" alias="AirlineName4" />
    <attribute member="flightNo4" field="FlightNo4" alias="FlightNo4" />
    <attribute member="flightDate4" field="FlightDate4" alias="FlightDate4" />
    <attribute member="flightTime4" field="FlightTime4" alias="FlightTime4" />
    <attribute member="airportCode4" field="AirportCode4" alias="AirportCode4" />
    <attribute member="airportName4" field="AirportName4" alias="AirportName4" />
    <attribute member="flightDate0" field="FlightDate0" alias="FlightDate0" />
    <attribute member="flightTime0" field="FlightTime0" alias="FlightTime0" />
    <attribute member="airportCode0" field="AirportCode0" alias="AirportCode0" />
    <attribute member="airportName0" field="AirportName0" alias="AirportName0" />
    <attribute member="issuedBy" field="IssuedBy" alias="IssuedBy" />
    <attribute member="shipperID" field="ShipperID" alias="ShipperID" />
    <attribute member="shipperName" field="ShipperName" alias="ShipperName" />
    <attribute member="consigneeID" field="ConsigneeID" alias="ConsigneeID" />
    <attribute member="consigneeName" field="ConsigneeName" alias="ConsigneeName" />
    <attribute member="carrierAgent" field="CarrierAgent" alias="CarrierAgent" />
    <attribute member="accountInfo" field="AccountInfo" alias="AccountInfo" />
    <attribute member="agentIATACode" field="AgentIATACode" alias="AgentIATACode" />
    <attribute member="agentAccountNo" field="AgentAccountNo" alias="AgentAccountNo" />
    <attribute member="airportDeparture" field="AirportDeparture" alias="AirportDeparture" />
    <attribute member="connDest1" field="ConnDest1" alias="ConnDest1" />
    <attribute member="connCarrier1" field="ConnCarrier1" alias="ConnCarrier1" />
    <attribute member="connDest2" field="ConnDest2" alias="ConnDest2" />
    <attribute member="connCarrier2" field="ConnCarrier2" alias="ConnCarrier2" />
    <attribute member="connDest3" field="ConnDest3" alias="ConnDest3" />
    <attribute member="connCarrier3" field="ConnCarrier3" alias="ConnCarrier3" />
    <attribute member="airportDestination" field="AirportDestination" alias="AirportDestination" />
    <attribute member="requestedFlight" field="RequestedFlight" alias="RequestedFlight" />
    <attribute member="requestedDate" field="RequestedDate" alias="RequestedDate" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="chgsCode" field="ChgsCode" alias="ChgsCode" />
    <attribute member="ppd1" field="PPD1" alias="Ppd1" />
    <attribute member="coll1" field="COLL1" alias="Coll1" />
    <attribute member="ppd2" field="PPD2" alias="Ppd2" />
    <attribute member="coll2" field="COLL2" alias="Coll2" />
    <attribute member="carriageValue" field="CarriageValue" alias="CarriageValue" />
    <attribute member="customValue" field="CustomValue" alias="CustomValue" />
    <attribute member="amountInsurance" field="AmountInsurance" alias="AmountInsurance" />
    <attribute member="handlingInfo" field="HandlingInfo" alias="HandlingInfo" />
    <attribute member="piece" field="Piece" alias="Piece" />
    <attribute member="grossWeight" field="GrossWeight" alias="GrossWeight" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="rateClass" field="RateClass" alias="RateClass" />
    <attribute member="commodityItemNo" field="CommodityItemNo" alias="CommodityItemNo" />
    <attribute member="chargeableWeight" field="ChargeableWeight" alias="ChargeableWeight" />
    <attribute member="rateCharge" field="RateCharge" alias="RateCharge" />
    <attribute member="total" field="Total" alias="Total" />
    <attribute member="goodsNature" field="GoodsNature" alias="GoodsNature" />
    <attribute member="contentRemark" field="ContentRemark" alias="ContentRemark" />
    <attribute member="weightChargeP" field="WeightChargeP" alias="WeightChargeP" />
    <attribute member="weightChargeC" field="WeightChargeC" alias="WeightChargeC" />
    <attribute member="valuationChargeP" field="ValuationChargeP" alias="ValuationChargeP" />
    <attribute member="valuationChargeC" field="ValuationChargeC" alias="ValuationChargeC" />
    <attribute member="taxP" field="TaxP" alias="TaxP" />
    <attribute member="taxC" field="TaxC" alias="TaxC" />
    <attribute member="otherAgentChargeP" field="OtherAgentChargeP" alias="OtherAgentChargeP" />
    <attribute member="otherAgentChargeC" field="OtherAgentChargeC" alias="OtherAgentChargeC" />
    <attribute member="otherCarrierChargeP" field="OtherCarrierChargeP" alias="OtherCarrierChargeP" />
    <attribute member="otherCarrierChargeC" field="OtherCarrierChargeC" alias="OtherCarrierChargeC" />
    <attribute member="totalPrepaid" field="TotalPrepaid" alias="TotalPrepaid" />
    <attribute member="totalCollect" field="TotalCollect" alias="TotalCollect" />
    <attribute member="currencyRate" field="CurrencyRate" alias="CurrencyRate" />
    <attribute member="chargeDestCurrency" field="ChargeDestCurrency" alias="ChargeDestCurrency" />
    <attribute member="otherCharge1" field="OtherCharge1" alias="OtherCharge1" />
    <attribute member="otherCharge2" field="OtherCharge2" alias="OtherCharge2" />
    <attribute member="otherCharge3" field="OtherCharge3" alias="OtherCharge3" />
    <attribute member="signatureShipper" field="SignatureShipper" alias="SignatureShipper" />
    <attribute member="executeDate" field="ExecuteDate" alias="ExecuteDate" />
    <attribute member="executePlace" field="ExecutePlace" alias="ExecutePlace" />
    <attribute member="signatureIssuing" field="SignatureIssuing" alias="SignatureIssuing" />
    <attribute member="otherCharge4" field="OtherCharge4" alias="OtherCharge4" />
    <attribute member="otherCharge5" field="OtherCharge5" alias="OtherCharge5" />
    <attribute member="otherCharge1Currency" field="OtherCharge1Currency" alias="OtherCharge1Currency" />
    <attribute member="otherCharge2Currency" field="OtherCharge2Currency" alias="OtherCharge2Currency" />
    <attribute member="otherCharge3Currency" field="OtherCharge3Currency" alias="OtherCharge3Currency" />
    <attribute member="otherCharge4Currency" field="OtherCharge4Currency" alias="OtherCharge4Currency" />
    <attribute member="otherCharge5Currency" field="OtherCharge5Currency" alias="OtherCharge5Currency" />
    <attribute member="otherCharge1Amount" field="OtherCharge1Amount" alias="OtherCharge1Amount" />
    <attribute member="otherCharge2Amount" field="OtherCharge2Amount" alias="OtherCharge2Amount" />
    <attribute member="otherCharge3Amount" field="OtherCharge3Amount" alias="OtherCharge3Amount" />
    <attribute member="otherCharge4Amount" field="OtherCharge4Amount" alias="OtherCharge4Amount" />
    <attribute member="otherCharge5Amount" field="OtherCharge5Amount" alias="OtherCharge5Amount" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="closeInd" field="CloseInd" alias="CloseInd" />
    <attribute member="weight" field="Weight" alias="Weight" />
    <attribute member="volume" field="volume" alias="Volume" />
    <attribute member="qty" field="Qty" alias="Qty" />
    <attribute member="packageType" field="PackageType" alias="PackageType" />
    <attribute member="tsInd" field="TsInd" alias="TsInd" />
    <attribute member="remark" field="Remark" alias="Remark" />
    <attribute member="marking" field="Marking" alias="Marking" />

    <attribute member="driverName" field="DriverName" alias="DriverName" />
    <attribute member="driverMobile" field="DriverMobile" alias="DriverMobile" />
    <attribute member="driverLicense" field="DriverLicense" alias="DriverLicense" />
    <attribute member="driverRemark" field="DriverRemark" alias="DriverRemark" />
    <attribute member="vehicleNo" field="VehicleNo" alias="VehicleNo" />
    <attribute member="vehicleType" field="VehicleType" alias="VehicleType" />
    <attribute member="permitRmk" field="PermitRmk" alias="PermitRmk" />
    <attribute member="haulierName" field="HaulierName" alias="HaulierName" />
    <attribute member="haulierCrNo" field="HaulierCrNo" alias="HaulierCrNo" />
    <attribute member="haulierAttention" field="HaulierAttention" alias="HaulierAttention" />
    <attribute member="haulierCollect" field="HaulierCollect" alias="HaulierCollect" />
    <attribute member="haulierTruck" field="HaulierTruck" alias="HaulierTruck" />
    <attribute member="haulierCollectDate" field="HaulierCollectDate" alias="HaulierCollectDate" />
    <attribute member="haulierRemark" field="HaulierRemark" alias="HaulierRemark" />
    <attribute member="deliveryDate" field="DeliveryDate" alias="DeliveryDate" />
    <attribute member="doReadyInd" field="DoReadyInd" alias="DoReadyInd" />

    <attribute member="pODTime" field="PODTime" alias="PODTime" />
    <attribute member="pODBy" field="PODBy" alias="PODBy" />
    <attribute member="pODRemark" field="PODRemark" alias="PODRemark" />
    <attribute member="pODUpdateUser" field="PODUpdateUser" alias="PODUpdateUser" />
    <attribute member="pODUpdateTime" field="PODUpdateTime" alias="PODUpdateTime" />

    <attribute member="tsBkgRef" field="TsBkgRef" alias="TsBkgRef" />
    <attribute member="tsBkgTime" field="TsBkgTime" alias="TsBkgTime" />
    <attribute member="tsBkgUser" field="TsBkgUser" alias="TsBkgUser" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="description" field="Description" alias="Description" />
  </entity>

</mappings>