<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">
  <!--  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Container management>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
  <entity type="C2.Container" table="Ref_Container" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="containerNo" field="ContainerNo" alias="ContainerNo" />
    <attribute member="commDate" field="CommDate" alias="CommDate" />
    <attribute member="tankCat" field="TankCat" alias="TankCat" />
    <attribute member="lessor" field="Lessor" alias="Lessor" />
    <attribute member="manuDate" field="ManuDate" alias="ManuDate" />
    <attribute member="manufacturer" field="Manufacturer" alias="Manufacturer" />
    <attribute member="plateNo" field="PlateNo" alias="PlateNo" />
    <attribute member="containerType" field="ContainerType" alias="ContainerType" />
    <attribute member="externalLength" field="ExternalLength" alias="ExternalLength" />
    <attribute member="externalBreadth" field="ExternalBreadth" alias="ExternalBreadth" />
    <attribute member="externalHeight" field="ExternalHeight" alias="ExternalHeight" />
    <attribute member="internalLength" field="InternalLength" alias="InternalLength" />
    <attribute member="internalBreadth" field="InternalBreadth" alias="InternalBreadth" />
    <attribute member="internalHeight" field="InternalHeight" alias="InternalHeight" />
    <attribute member="material" field="Material" alias="Material" />
    <attribute member="externalCoat" field="ExternalCoat" alias="ExternalCoat" />
    <attribute member="capacity" field="Capacity" alias="Capacity" />
    <attribute member="maxGrossWeight" field="MaxGrossWeight" alias="MaxGrossWeight" />
    <attribute member="tareWeight" field="TareWeight" alias="TareWeight" />
    <attribute member="maxPayload" field="MaxPayload" alias="MaxPayload" />
    <attribute member="testPress" field="TestPress" alias="TestPress" />
    <attribute member="thickness" field="Thickness" alias="Thickness" />
    <attribute member="approvals" field="Approvals" alias="Approvals" />
    <attribute member="onHireDateTime" field="OnHireDateTime" alias="OnHireDateTime" />
    <attribute member="offHireDateTime" field="OffHireDateTime" alias="OffHireDateTime" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
  </entity>
  <entity type="C2.Container_Type" table="Ref_ContainerType" keyMember="id" keyType="Auto">
    <attribute member="externalLength" field="ExternalLength" alias="ExternalLength" />
    <attribute member="externalBreadth" field="ExternalBreadth" alias="ExternalBreadth" />
    <attribute member="externalHeight" field="ExternalHeight" alias="ExternalHeight" />
    <attribute member="internalLength" field="InternalLength" alias="InternalLength" />
    <attribute member="internalBreadth" field="InternalBreadth" alias="InternalBreadth" />
    <attribute member="internalHeight" field="InternalHeight" alias="InternalHeight" />
    <attribute member="material" field="Material" alias="Material" />
    <attribute member="externalCoat" field="ExternalCoat" alias="ExternalCoat" />
    <attribute member="capacity" field="Capacity" alias="Capacity" />
    <attribute member="maxGrossWeight" field="MaxGrossWeight" alias="MaxGrossWeight" />
    <attribute member="tareWeight" field="TareWeight" alias="TareWeight" />
    <attribute member="maxPayload" field="MaxPayload" alias="MaxPayload" />
    <attribute member="approvals" field="Approvals" alias="Approvals" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="containerType" field="ContainerType" alias="ContainerType" />
    <attribute member="stacking" field="Stacking" alias="Stacking" />
    <attribute member="testPress" field="TestPress" alias="TestPress" />
  </entity>

  <entity type="C2.ContAsset" table="Cont_Asset" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="depotCode" field="DepotCode" alias="DepotCode" />
    <attribute member="shipType" field="ShipType" alias="ShipType" />
    <attribute member="shipVessel" field="ShipVessel" alias="ShipVessel" />
    <attribute member="shipVoyage" field="ShipVoyage" alias="ShipVoyage" />
    <attribute member="shipPol" field="ShipPol" alias="ShipPol" />
    <attribute member="shipPod" field="ShipPod" alias="ShipPod" />
    <attribute member="shipFinDest" field="ShipFinDest" alias="ShipFinDest" />
    <attribute member="shipEta" field="ShipEta" alias="ShipEta" />
    <attribute member="shipEtd" field="ShipEtd" alias="ShipEtd" />
    <attribute member="shipNote" field="ShipNote" alias="ShipNote" />
    <attribute member="shipCarrierCode" field="ShipCarrierCode" alias="ShipCarrierCode" />
    <attribute member="shipCarrierRef" field="ShipCarrierRef" alias="ShipCarrierRef" />
    <attribute member="demurrageCode" field="DemurrageCode" alias="DemurrageCode" />
    <attribute member="demurrageFreeDay" field="DemurrageFreeDay" alias="DemurrageFreeDay" />
    <attribute member="demurrageStartDate" field="DemurrageStartDate" alias="DemurrageStartDate" />
    <attribute member="demurrageRef" field="DemurrageRef" alias="DemurrageRef" />
    <attribute member="detentionCode" field="DetentionCode" alias="DetentionCode" />
    <attribute member="detentionFreeDay" field="DetentionFreeDay" alias="DetentionFreeDay" />
    <attribute member="detentionStartDate" field="DetentionStartDate" alias="DetentionStartDate" />
    <attribute member="detentionRef" field="DetentionRef" alias="DetentionRef" />
    <attribute member="releaseType" field="ReleaseType" alias="ReleaseType" />
    <attribute member="returnType" field="ReturnType" alias="ReturnType" />
    <attribute member="shipperCode" field="ShipperCode" alias="ShipperCode" />
    <attribute member="shipperName" field="ShipperName" alias="ShipperName" />
    <attribute member="consigneeCode" field="ConsigneeCode" alias="ConsigneeCode" />
    <attribute member="consigneeName" field="ConsigneeName" alias="ConsigneeName" />
    <attribute member="instruction" field="Instruction" alias="Instruction" />
    <attribute member="haulierCode" field="HaulierCode" alias="HaulierCode" />
    <attribute member="haulierRef" field="HaulierRef" alias="HaulierRef" />
    <attribute member="haulierCompleteDate" field="HaulierCompleteDate" alias="HaulierCompleteDate" />
    <attribute member="statusCode" field="StatusCode" alias="StatusCode" />
  </entity>
  <entity type="C2.ContAssetEvent" table="Cont_AssetEvent" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="createBy" field="CreateBy" alias="CreateBy" />
    <attribute member="createDateTime" field="CreateDateTime" alias="CreateDateTime" />
    <attribute member="updateBy" field="UpdateBy" alias="UpdateBy" />
    <attribute member="updateDateTime" field="UpdateDateTime" alias="UpdateDateTime" />
    <attribute member="docNo" field="DocNo" alias="DocNo" />
    <attribute member="docType" field="DocType" alias="DocType" />
    <attribute member="jobNo" field="JobNo" alias="JobNo" />
    <attribute member="eventCode" field="EventCode" alias="EventCode" />
    <attribute member="eventDateTime" field="EventDateTime" alias="EventDateTime" />
    <attribute member="eventPort" field="EventPort" alias="EventPort" />
    <attribute member="eventDepot" field="EventDepot" alias="EventDepot" />
    <attribute member="pol" field="Pol" alias="Pol" />
    <attribute member="pod" field="Pod" alias="Pod" />
    <attribute member="vehicleNo" field="VehicleNo" alias="VehicleNo" />
    <attribute member="returnDate" field="ReturnDate" alias="ReturnDate" />
    <attribute member="receiveDate" field="ReceiveDate" alias="ReceiveDate" />
    <attribute member="state" field="State" alias="State" />
    <attribute member="releaseDate" field="ReleaseDate" alias="ReleaseDate" />
    <attribute member="insturction" field="Insturction" alias="Insturction" />
    <attribute member="containerNo" field="ContainerNo" alias="ContainerNo" />
    <attribute member="containerType" field="ContainerType" alias="ContainerType" />
  </entity>

</mappings>