<?xml version="1.0" encoding="utf-8" ?>
<mappings version="4.2">
  <!--======================================SeaQuotation-->
  <entity type="C2.SeaQuotation" table="SeaQuotation" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="quoteNo" field="QuoteNo" alias="QuoteNo" />
    <attribute member="quoteDate" field="QuoteDate" alias="QuoteDate" />
    <attribute member="expireDate" field="ExpireDate" alias="ExpireDate" />
    <attribute member="quoteType" field="QuoteType" alias="QuoteType" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="partyName" field="PartyName" alias="PartyName" />
    <attribute member="tel" field="Tel" alias="Tel" />
    <attribute member="fax" field="Fax" alias="Fax" />
    <attribute member="contact" field="Contact" alias="Contact" />
    <attribute member="pol" field="Pol" alias="Pol" />
    <attribute member="pod" field="Pod" alias="Pod" />
    <attribute member="finDest" field="FinDest" alias="FinDest" />
    <attribute member="vessel" field="Vessel" alias="Vessel" />
    <attribute member="voyage" field="Voyage" alias="Voyage" />
    <attribute member="eta" field="Eta" alias="Eta" />
    <attribute member="etd" field="Etd" alias="Etd" />
    <attribute member="etaDest" field="EtaDest" alias="EtaDest" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="salesmanId" field="SalesmanId" alias="SalesmanId" />
    <attribute member="subject" field="Subject" alias="Subject" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="createUser" field="CreateUser" alias="CreateUser" />
    <attribute member="createDate" field="CreateDate" alias="CreateDate" />
    <attribute member="updateUser" field="UpdateUser" alias="UpdateUser" />
    <attribute member="updateDate" field="UpdateDate" alias="UpdateDate" />
    <attribute member="rmk" field="Rmk" alias="Rmk" />
    <attribute member="note1" field="Note1" alias="Note1" />
    <attribute member="note2" field="Note2" alias="Note2" />
    <attribute member="note3" field="Note3" alias="Note3" />
    <attribute member="note4" field="Note4" alias="Note4" />
  </entity>
  <entity type="C2.SeaQuotationDet1" table="SeaQuotationDet1" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="quoteNo" field="QuoteNo" alias="QuoteNo" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="chgCodeDes" field="ChgCodeDes" alias="ChgCodeDes" />
    <attribute member="saleQty" field="SaleQty" alias="SaleQty" />
    <attribute member="salePrice" field="SalePrice" alias="SalePrice" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="saleCurrency" field="SaleCurrency" alias="SaleCurrency" />
    <attribute member="saleExRate" field="SaleExRate" alias="SaleExRate" />
    <attribute member="saleDocAmt" field="SaleDocAmt" alias="SaleDocAmt" />
    <attribute member="saleLocAmt" field="SaleLocAmt" alias="SaleLocAmt" />
    <attribute member="costPrice" field="CostPrice" alias="CostPrice" />
    <attribute member="costDocAmt" field="CostDocAmt" alias="CostDocAmt" />
    <attribute member="costLocAmt" field="CostLocAmt" alias="CostLocAmt" />
    <attribute member="splitType" field="SplitType" alias="SplitType" />
    <attribute member="costCurrency" field="CostCurrency" alias="CostCurrency" />
    <attribute member="costExRate" field="costExRate" alias="CostExRate" />
    <attribute member="saleGst" field="SaleGst" alias="SaleGst" />
    <attribute member="costGst" field="CostGst" alias="CostGst" />
    <attribute member="costQty" field="CostQty" alias="CostQty" />
    <attribute member="remark" field="Remark" alias="Remark" />
  </entity>
  <entity type="C2.SeaQuotationDet2" table="SeaQuotationDet2" keyMember="id" keyType="Auto">
    <attribute member="id" field="Id" alias="Id" />
    <attribute member="quoteNo" field="QuoteNo" alias="QuoteNo" />
    <attribute member="term" field="Term" alias="Term" />
    <attribute member="description" field="Description" alias="Description" />
  </entity>
  <entity type="C2.SeaQuote1" table="SeaQuote1" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="title" field="Title" alias="Title" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="pol" field="Pol" alias="Pol" />
    <attribute member="pod" field="Pod" alias="Pod" />
    <attribute member="viaPort" field="ViaPort" alias="ViaPort" />
    <attribute member="impExpInd" field="ImpExpInd" alias="ImpExpInd" />
    <attribute member="fclLclInd" field="FclLclInd" alias="FclLclInd" />
    <attribute member="frequency" field="Frequency" alias="Frequency" />
    <attribute member="lclChg" field="LclChg" alias="LclChg" />
    <attribute member="subject" field="Subject" alias="Subject" />
    <attribute member="quoteNo" field="QuoteNo" alias="QuoteNo" />
    <attribute member="status" field="Status" alias="Status" />
    <attribute member="createUser" field="CreateUser" alias="CreateUser" />
    <attribute member="createDate" field="CreateDate" alias="CreateDate" />
    <attribute member="updateUser" field="UpdateUser" alias="UpdateUser" />
    <attribute member="updateDate" field="UpdateDate" alias="UpdateDate" />


    <attribute member="quoteDate" field="QuoteDate" alias="QuoteDate" />
    <attribute member="expireDate" field="ExpireDate" alias="ExpireDate" />
    <attribute member="rmk" field="Rmk" alias="Rmk" />
    <attribute member="note" field="Note" alias="Note" />
    <attribute member="attention" field="Attention" alias="Attention" />
    <attribute member="transmitDay" field="TransmitDay" alias="TransmitDay" />
    <attribute member="gp20" field="Gp20" alias="Gp20" />
    <attribute member="gp40" field="Gp40" alias="Gp40" />
    <attribute member="hc40" field="Hc40" alias="Hc40" />
    <attribute member="currencyId" field="CurrencyId" alias="CurrencyId" />
    <attribute member="salesmanId" field="SalesmanId" alias="SalesmanId" />
    <attribute member="contType" field="ContType" alias="ContType" />
    <attribute member="contPrice" field="ContPrice" alias="ContPrice" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
  </entity>
  <entity type="C2.SeaQuoteDet1" table="SeaQuoteDet1" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="quoteId" field="QuoteId" alias="QuoteId" />
    <attribute member="quoteLineNo" field="QuoteLineNo" alias="QuoteLineNo" />
    <attribute member="chgCode" field="ChgCode" alias="ChgCode" />
    <attribute member="chgDes" field="ChgDes" alias="ChgDes" />
    <attribute member="currency" field="Currency" alias="Currency" />
    <attribute member="gstType" field="GstType" alias="GstType" />
    <attribute member="gst" field="Gst" alias="Gst" />
    <attribute member="qty" field="Qty" alias="Qty" />
    <attribute member="price" field="Price" alias="Price" />
    <attribute member="unit" field="Unit" alias="Unit" />
    <attribute member="minAmt" field="MinAmt" alias="MinAmt" />
    <attribute member="amt" field="Amt" alias="Amt" />
    <attribute member="rmk" field="Rmk" alias="Rmk" />
    <attribute member="groupTitle" field="GroupTitle" alias="GroupTitle" />
    <attribute member="fclLclInd" field="FclLclInd" alias="FclLclInd" />
    <attribute member="impExpInd" field="ImpExpInd" alias="ImpExpInd" />
    <attribute member="exRate" field="ExRate" alias="ExRate" />
    <attribute member="pol" field="Pol" alias="Pol" />
    <attribute member="pod" field="Pod" alias="Pod" />
    <attribute member="partyTo" field="PartyTo" alias="PartyTo" />
    <attribute member="agentId" field="AgentId" alias="AgentId" />
    <attribute member="cngId" field="CngId" alias="CngId" />
    <attribute member="carrierId" field="CarrierId" alias="CarrierId" />
    <attribute member="shipType" field="ShipType" alias="ShipType" />
	
<attribute member="status1" field="Status1" alias="Status1" />
    <attribute member="status2" field="Status2" alias="Status2" />
    <attribute member="status3" field="Status3" alias="Status3" />
    <attribute member="status4" field="Status4" alias="Status4" />
    <attribute member="status5" field="Status5" alias="Status5" />
    <attribute member="status6" field="Status6" alias="Status6" />
    <attribute member="status7" field="Status7" alias="Status7" />
    <attribute member="status8" field="Status8" alias="Status8" />
    <attribute member="date1" field="Date1" alias="Date1" />
    <attribute member="date2" field="Date2" alias="Date2" />
    <attribute member="date3" field="Date3" alias="Date3" />
    <attribute member="date4" field="Date4" alias="Date4" />
    <attribute member="date5" field="Date5" alias="Date5" />
    <attribute member="date6" field="Date6" alias="Date6" />
    <attribute member="date7" field="Date7" alias="Date7" />
    <attribute member="date8" field="Date8" alias="Date8" />
    <attribute member="rate1" field="Rate1" alias="Rate1" />
    <attribute member="rate2" field="Rate2" alias="Rate2" />
    <attribute member="rate3" field="Rate3" alias="Rate3" />
    <attribute member="rate4" field="Rate4" alias="Rate4" />
    <attribute member="rate5" field="Rate5" alias="Rate5" />
    <attribute member="rate6" field="Rate6" alias="Rate6" />
    <attribute member="rate7" field="Rate7" alias="Rate7" />
    <attribute member="rate8" field="Rate8" alias="Rate8" />
    <attribute member="rate9" field="Rate9" alias="Rate9" />
    <attribute member="rate10" field="Rate10" alias="Rate10" />
    <attribute member="rate11" field="Rate11" alias="Rate11" />
    <attribute member="rate12" field="Rate12" alias="Rate12" />
    <attribute member="rate13" field="Rate13" alias="Rate13" />
    <attribute member="rate14" field="Rate14" alias="Rate14" />
    <attribute member="rate15" field="Rate15" alias="Rate15" />
    <attribute member="rate16" field="Rate16" alias="Rate16" />
    <attribute member="rate17" field="Rate17" alias="Rate17" />
    <attribute member="rate18" field="Rate18" alias="Rate18" />
    <attribute member="rate19" field="Rate19" alias="Rate19" />
    <attribute member="_user_create" field="user_create" alias="user_create" />
    <attribute member="_time_create" field="time_create" alias="time_create" />
    <attribute member="_user_update" field="user_update" alias="user_update" />
    <attribute member="_time_update" field="time_update" alias="time_update" />
	</entity>

  <entity type="C2.SeaQuoteTitle" table="SeaQuoteTitle" keyMember="sequenceId" keyType="Auto">
    <attribute member="sequenceId" field="SequenceId" alias="SequenceId" />
    <attribute member="title" field="Title" alias="Title" />
  </entity>

</mappings>