<configuration>
	<configSections>
		<sectionGroup name="system.web" type="System.Web.Configuration.SystemWebSectionGroup, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>   
	</configSections>       
	<connectionStrings>  
		<add name="local" connectionString="Server=.;DataBase=db_boox_tsl;UID=sa;PWD=P@$$w0rd;" />
		<add name="SqlConnectString" connectionString="Server=.;DataBase=db_boox_tsl;UID=sa;PWD=P@$$w0rd;" />
		<add name="SqlConnectString1" connectionString="Server=.;DataBase=db_boox_tsl;UID=sa;PWD=P@$$w0rd;" />
        <add name="edi_str" connectionString="Server=.\sqlexpress;DataBase=db_boox_elc;UID=sa;PWD=1234;"/>
    <add name="db_booxl_tsl_acEntities" connectionString="metadata=res://*/DataAccess.csdl|res://*/DataAccess.ssdl|res://*/DataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wei;initial catalog=db_booxl_tsl_ac;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings> 
	<appSettings> 
		<add key="MobileServerUrl" value="http://tsl.cargoerp.com/Photos/" />
		<add key="DEPLOY" value="local" />
		<add key="Version" value="1.01.01" /> 
		<add key="Country" value="SG" />
		<add key="LocalPort" value="SGSIN" />
		<add key="PortName" value="SINGAPORE" />
		<add key="Currency" value="SGD" />
		<add key="License" value="100" />
		<add key="AccountModifyDay" value="15" />
		<add key="CompanyName" value="TSL LOGISTICS PTE LTD"/>
		<add key="CompanyNo" value="201309403M"/>
		<add key="CompanyLogo" value="C:\boox\boox_tsl\Custom\logo.png"/>
		<add key="CompanyLogoWeb" value="/Custom/logo.png"/>
		<add key="CompanyMarkWater" value="C:\boox\boox_tsl\Custom\logo.jpg"/>
        <add key="SealLogo" value="C:\boox\boox_tsl\Custom\logo.png" />
        <add key="CompanyHead" value="C:\Boox\boox_tsl\Custom\head.repx"/>
		<add key="CompanyHeader" value="C:\Boox\boox_tsl\header.repx"/>
		<add key="CompanyHeaderAcc" value="C:\boox\boox_tsl\headerAcc.repx"/> 
		<add key="AwblBackgroundPic" value="C:\boox\boox_tsl\CUSTOM\awb-bg.jpg"/>
        <add key="CompanyAddress1" value="Blk 194 Pandan Loop #05-15"/>
        <add key="CompanyAddress2" value="Pantech Business Hub, Singapore 128383"/>
        <add key="CompanyAddress3" value="UEN/GST REG NO: 201309403M"/>
        <add key="CompanyAddress4" value="Phone:6777 2724  Fax:6777 2742"/>
        <add key="CompanyAddress5" value=""/>
        <add key="CompanyAddress6" value=""/>
		<add key="CompanyAddress7" value=""/>
        <add key="CompanyAddress8" value="UEN/GST Reg No :201309403M" />
		<add key="CompanyInvHeader1" value="194 Pandan Loop #05-15 Pantech Business Hub Singapore 128383"/>
		<add key="CompanyInvHeader2" value="UEN/GST Reg No: 201309403M"/>
		<add key="ExceptPl" value="" />
		<add key="ExceptVo" value="" />
		<add key="ExceptSales" value="" />
		<add key="LocalArCode" value="10" />
		<add key="LocalApCode" value="20" />
		<add key="EarnAcCode" value="52" />
		<add key="GainLoseAcCode" value="642110" />
		<add key="AccountFirstYear" value="2016" />
		<add key="AccountFirstMonth" value="4" />
		<add key="SMTP" value="smtp.gmail.com|465|SSL|ops@tsllogistics.sg|pandan194|TSL Alert" />
		<add key="POP3" value="pop.gmail.com|995|SSL|ops@tsllogistics.sg|mailer@88888888|TSL Alert" />
		<add key="THREAD" value="" />
		<add key="TIMER" value="600" />
		<add key="EmailTo" value="admin@cargo.ms" />
		<add key="EmailCc" value="admin@cargo.ms" />
		<add key="EmailBcc" value="admin@cargo.ms" />
		<add key="WareHouse" value="TSL00" />
		<add key="BookingPrefix" value="TSL" />
		<add key="DefaultBankCode" value="120401" />
		<add key="DefaultCashCode" value="120403" />
        <add key="DefaultLineCode" value="41" />
		<add key="Warehouse" value="TSL00" />
		<add key="WhService_ToCompany" value="" />
		<add key="WhService_ToStock" value="" />
		<add key="EdiPath" value="D:\cerp_gke\XML\" />
		<add key="EdiServer" value="http://1.1.1.1:88/firebird.asmx" />
		<add key="EdiClient" value="PTE LTD"/>
	</appSettings>
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.0" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime maxRequestLength="2091151" executionTimeout="36000" requestValidationMode="2.0" />
		<globalization culture="en-US" uiCulture="en-US" />
		<compilation defaultLanguage="c#" debug="true" batch="false" targetFramework="4.5">
			<assemblies>
				<add assembly="DevExpress.Printing.v13.2.Core, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Data.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraPrinting.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraReports.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraReports.v13.2.Web, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Utils.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Charts.v13.2.Core, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraCharts.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxPivotGrid.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.RichEdit.v13.2.Core, Version=13.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
			<buildProviders />
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="/account/Signon.aspx" timeout="720" />
		</authentication>
		<authorization>
			<!--<allow roles="Administrator"/>-->
			<deny users="?" />
		</authorization>
		<membership defaultProvider="CargoMemberProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="CargoMemberProvider" type="CFS.Membership" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear" description="Stores and retrieves membership data from DataBase" decryptionKey="68d288624f967bce6d93957b5341f931f73d25fef798ba75" validationKey="65a31e547b659a6e35fdc029de3acce43f8914cb1b2 4fff3e1aef13be438505b3f5becb5702d15bc7b98cd 6fd2b7702b46ff63fdc9ea8979f6508c82638b129a" />
			</providers>
		</membership>
		<trace enabled="true" localOnly="true" traceMode="SortByCategory" pageOutput="false" />
		<sessionState mode="InProc" cookieless="UseCookies" />
		<customErrors mode="Off" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Configuration" />
				<add namespace="System.IO" />
				<add namespace="System.Text" />
				<add namespace="System.Data" />
				<add namespace="System.Data.SqlClient" />
				<add namespace="System.Web" />
				<add namespace="System.Web.Security" />
				<add namespace="System.Web.UI" />
				<add namespace="System.Web.UI.WebControls" />
				<add namespace="System.Web.UI.HtmlControls" />
				<add namespace="Wilson.ORMapper" />
				<add namespace="DevExpress.Web" />
				<add namespace="DevExpress.Data" />
				<add namespace="DevExpress.Web.ASPxGridView" />
				<add namespace="DevExpress.Web.ASPxEditors" />
				<add namespace="C2" />
			</namespaces>
			<controls>
				<add tagPrefix="wilson" namespace="Wilson.ORMapper.Web" assembly="WilsonORMDataSource" />
				<add tagPrefix="dxe" namespace="DevExpress.Web.ASPxHtmlEditor" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxe" namespace="DevExpress.Web.ASPxEditors" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxwgv" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxpc" namespace="DevExpress.Web.ASPxPopupControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxtc" namespace="DevExpress.Web.ASPxTabControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxw" namespace="DevExpress.Web.ASPxClasses" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxwp" namespace="DevExpress.Web.ASPxPager" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxtc" namespace="DevExpress.Web.ASPxTabControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxw" namespace="DevExpress.Web.ASPxClasses" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxpc" namespace="DevExpress.Web.ASPxPopupControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxp" namespace="DevExpress.Web.ASPxPanel" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxrp" namespace="DevExpress.Web.ASPxRoundPanel" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxwgv" namespace="DevExpress.Web.ASPxGridView.Export" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxuc" namespace="DevExpress.Web.ASPxUploadControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxdv" namespace="DevExpress.Web.ASPxDataView" assembly="DevExpress.Web.v13.2" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.v13.2" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid" assembly="DevExpress.Web.v13.2" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid.Export" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallback" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallbackPanel" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxCloudControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxGlobalEvents" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxHeadline" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxHiddenField" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxLoadingPanel" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxMenu" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxNavBar" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxNewsControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxObjectContainer" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPager" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxPanel" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxRatingControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTimer" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTitleIndex" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxSiteMapControl" assembly="DevExpress.Web.v13.2" />
				<add tagPrefix="dxcharts" namespace="DevExpress.XtraCharts" assembly="DevExpress.XtraCharts.v13.2" />
				<add tagPrefix="dxchartsui" namespace="DevExpress.XtraCharts.Web" assembly="DevExpress.XtraCharts.v13.2.Web" />
			</controls>
		</pages>
		<webServices>
			<soapExtensionReflectorTypes>
				<!-- add type="PX.Api.SiteInterfaceReflector, PX.Objects"/ -->
			</soapExtensionReflectorTypes>
		</webServices>
		<httpModules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
		</httpHandlers>
	</system.web>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Icons">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="photos">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Frames">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Custom">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="script">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Edi">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="App_Themes/Default">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
		<defaultDocument>
			<files>
				<clear />
				<add value="Default.htm" />
				<add value="default.aspx" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
		</handlers>
		<staticContent>
			<mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
            <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
		</staticContent>
	</system.webServer>
	<devExpress>
		<settings rightToLeft="false" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>
</configuration>
